.address-action-button.sm {
    margin-top: -4px;
    margin-left: 4px;

  $buttonSize: 24px;
  width: $buttonSize!important;
  height: $buttonSize!important;
  line-height: $buttonSize!important;

  .mat-icon {
    $iconSize: 16px;
    height:$iconSize !important;
    width:$iconSize !important;
    font-size:$iconSize !important;
    vertical-align: inherit!important;
  }
}
