<ng-template #accountMonkey>
    <div *ngIf="monkeySvg" responsive class="account-monkey" [innerHTML]="monkeySvg | safe"></div>
</ng-template>

<ng-template #confirmedPaginator>
    <app-paginator
        *ngIf="accountOverview.completedTxCount > 50"
        [maxElements]="accountOverview.completedTxCount"
        [pageSize]="paginatorSize"
        [pageIndex]="confirmedTxPageIndex"
        [disableMove]="loading"
        (pageIndexChange)="changePage($event)"
    >
    </app-paginator>
</ng-template>

<ng-template #headerContent>
    <div class="account-header" responsive>
        <div class="account-header-details">
            <div [style.width.%]="100">
                <ng-container *ngIf="loading">
                    <div class="app-page-title">Loading</div>
                    <div class="app-page-subtitle" style="word-break: break-all">{{ address }}</div>
                </ng-container>

                <ng-container *ngIf="!loading">
                    <div class="app-page-title">
                        <ng-container *ngIf="!isRepresentative()">
                            <span *ngIf="accountOverview.opened"> Account </span>
                            <span *ngIf="!accountOverview.opened"> Unopened Account </span>
                        </ng-container>
                        <span *ngIf="isRepresentative()">
                            <ng-container *ngIf="!accountOverview.principal"> Representative </ng-container>
                            <ng-container *ngIf="accountOverview.principal"> Principal Rep </ng-container>
                            <pxb-list-item-tag
                                *ngIf="!onlineRepService.onlineReps.has(address)"
                                class="account-rep-offline"
                                label="Offline"
                            ></pxb-list-item-tag>
                            <pxb-list-item-tag
                                class="account-rep-online"
                                *ngIf="onlineRepService.onlineReps.has(address)"
                                label="Online"
                            ></pxb-list-item-tag>
                        </span>
                    </div>
                    <div class="app-page-subtitle account-address-line">
                        <span class="account-address"> {{ address }}</span>
                        <div style="display: flex" [style.marginLeft.px]="vp.sm ? 4 : 0">
                            <app-copy-button [data]="address"></app-copy-button>
                            <app-qr-button [address]="address"></app-qr-button>
                            <app-bookmark-button [id]="address"></app-bookmark-button>
                        </div>
                    </div>
                    <div
                        *ngIf="accountOverview.opened"
                        class="account-representative"
                        [class.mat-caption]="vp.sm"
                        [class.mat-subheading-2]="!vp.sm"
                        responsive
                    >
                        <ng-container *ngIf="accountOverview.representative !== address">
                            Represented by

                            <span
                                (click)="searchService.emitSearch(accountOverview.representative)"
                                [style.marginLeft.px]="4"
                                class="account-representative-address"
                            >
                                {{ shortenedRep }}
                            </span>
                            <pxb-list-item-tag
                                *ngIf="!onlineRepService.onlineReps.has(accountOverview.representative)"
                                [style.marginLeft.px]="8"
                                class="account-rep-offline"
                                label="Offline"
                            ></pxb-list-item-tag>
                            <pxb-list-item-tag
                                *ngIf="onlineRepService.onlineReps.has(accountOverview.representative)"
                                class="account-rep-online"
                                [style.marginLeft.px]="8"
                                label="Online"
                            ></pxb-list-item-tag>
                        </ng-container>
                        <div
                            *ngIf="accountOverview.representative === address"
                            class="mat-overline"
                            style="margin-top: -8px"
                        >
                            Self-Represented
                        </div>
                    </div>
                    <div class="account-summary-tags" responsive>
                        <ng-template *ngIf="vp.sm" [ngTemplateOutlet]="accountMonkey"></ng-template>

                        <div class="account-balance" [style.marginTop.px]="vp.sm ? 16 : 0" responsive>
                            <ng-container *ngIf="!vp.sm">
                                <span class="account-ban-amount" [style.marginRight.px]="8"
                                    >{{ confirmedBalance }} BAN</span
                                >
                                ·
                                <span class="account-btc-amount" style="margin: 0 8px">
                                    {{ formatBtcPrice(accountOverview.balanceRaw) }}</span
                                >
                                ·
                                <span class="account-usd-amount" [style.marginLeft.px]="8">
                                    {{ formatUsdPrice(accountOverview.balanceRaw) | currency }}
                                </span>
                            </ng-container>
                            <ng-container *ngIf="vp.sm">
                                <div class="account-ban-amount">{{ confirmedBalance }} BAN</div>
                                <div>
                                    <span class="account-btc-amount" [style.marginRight.px]="4">{{
                                        formatBtcPrice(accountOverview.balanceRaw)
                                    }}</span>
                                    |
                                    <span class="account-usd-amount" [style.marginLeft.px]="4">{{
                                        formatUsdPrice(accountOverview.balanceRaw) | currency
                                    }}</span>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div style="display: flex; align-items: center">
            <ng-template *ngIf="!vp.sm" [ngTemplateOutlet]="accountMonkey"></ng-template>
        </div>
    </div>
</ng-template>

<ng-template #bodyContent>
    <mat-tab-group
        responsive
        *ngIf="!loading"
        [animationDuration]="0"
        class="account-tabs mat-elevation-z2"
        (selectedTabChange)="this.fetchInsights($event)"
    >
        <!-- Confirmed transactions -->
        <mat-tab>
            <ng-template mat-tab-label>
                <span matBadgeOverlap="false" [matBadge]="getConfirmedBadge()">
                    <ng-container *ngIf="!vp.sm">
                        Confirmed
                        <ng-container *ngIf="!vp.md">Transactions</ng-container>
                    </ng-container>
                    <mat-icon *ngIf="vp.sm">check</mat-icon>
                </span>
            </ng-template>
            <account-confirmed-tab
                [paginator]="confirmedPaginator"
                [confirmedTransactions]="confirmedTransactions.display"
            ></account-confirmed-tab>
        </mat-tab>

        <!-- Pending transactions -->
        <mat-tab class="account-pending-tab">
            <ng-template mat-tab-label>
                <span class="account-pending-badge" [matBadge]="getPendingBadge()" matBadgeOverlap="false">
                    <ng-container *ngIf="!vp.sm">
                        Pending
                        <ng-container *ngIf="!vp.md">Transactions</ng-container>
                    </ng-container>
                    <mat-icon *ngIf="vp.sm">pending</mat-icon>
                </span>
            </ng-template>
            <account-pending-tab
                [pendingTxCount]="accountOverview.pendingTxCount"
                [pendingTransactions]="pendingTransactions.display"
            ></account-pending-tab>
        </mat-tab>

        <!-- Delegators -->
        <mat-tab>
            <ng-template mat-tab-label>
                <span class="account-delegators-badge" [matBadge]="getDelegatorsBadge()" matBadgeOverlap="false">
                    <!-- Delegators -->
                    <ng-container *ngIf="!vp.sm">Delegators</ng-container>
                    <mat-icon *ngIf="vp.sm">how_to_vote</mat-icon>
                </span>
            </ng-template>
            <account-delegators-tab [delegators]="delegators" [weightSum]="weightSum"></account-delegators-tab>
        </mat-tab>

        <!-- Insights -->
        <mat-tab>
            <ng-template mat-tab-label>
                <ng-container *ngIf="!vp.sm">Insights</ng-container>
                <mat-icon *ngIf="vp.sm">insights</mat-icon>
            </ng-template>
            <account-insights-tab
                [insights]="insights"
                [error]="hasInsightsError"
                [unopened]="!accountOverview?.opened"
                [disabled]="insightsDisabled"
            >
            </account-insights-tab>
        </mat-tab>
    </mat-tab-group>
</ng-template>

<div class="vanity-root app-page-root" responsive>
    <div class="app-page-content">
        <app-error *ngIf="error"></app-error>
        <ng-container *ngIf="!error">
            <ng-template [ngTemplateOutlet]="headerContent"></ng-template>
            <ng-template *ngIf="!loading" [ngTemplateOutlet]="bodyContent"></ng-template>
        </ng-container>
    </div>
</div>

<app-wave [darkThemeWaveNumber]="16"></app-wave>
