<ng-template #desktopMonKey>
    <img
        *ngIf="!vp.sm"
        [src]="apiService.createMonKeyUrl(address)"
        loading="lazy"
        style="min-width: 200px; height: 200px; margin-top: -12px; margin-right: 16px"
    />
</ng-template>

<ng-template #mobileMonKey>
    <img
        *ngIf="vp.sm"
        [src]="apiService.createMonKeyUrl(address)"
        loading="lazy"
        style="width: 120px; height: 120px; min-width: 120px; margin-right: 16px"
    />
</ng-template>

<ng-template #accountBalance>
    <div style="font-weight: 400">
        <span [innerHTML]="confirmedBalance | appComma | appLittleDecimal"></span>
        <span style="margin-left: 8px">BAN</span>
    </div>
</ng-template>

<ng-template #headerContent>
    <mat-card class="account-header divider-border mat-elevation-z0" responsive>
        <!-- Loading -->
        <div *ngIf="!accountOverview" style="display: flex">
            <ng-template [ngTemplateOutlet]="desktopMonKey"></ng-template>
            <div class="account-overview-wrapper">
                <div class="app-page-title" style="display: flex; align-items: center">
                    <div>Loading</div>
                    <app-load-spinner *ngIf="!accountOverview"></app-load-spinner>
                </div>
                <div
                    class="app-page-subtitle account-address-wrapper mono"
                    style="word-break: break-all"
                    [innerHTML]="formatAccountAddress(address)"
                ></div>
            </div>
        </div>

        <!-- Not Loading -->
        <div *ngIf="accountOverview" style="display: flex">
            <ng-template [ngTemplateOutlet]="desktopMonKey"></ng-template>
            <div class="account-overview-wrapper">
                <!-- First Line -->
                <div class="app-page-title">
                    <ng-container *ngIf="!isRepresentative()">
                        <span *ngIf="accountOverview.opened"> Account </span>
                        <span *ngIf="!accountOverview.opened"> Unopened Account </span>
                    </ng-container>
                    <div *ngIf="isRepresentative()" style="display: flex; align-items: center">
                        <div style="margin-right: 16px">{{ getRepresentativeLabel() }}</div>

                        <mat-icon
                            color="primary"
                            *ngIf="onlineRepService.onlineReps.has(address)"
                            matTooltipPosition="right"
                            [matTooltip]="'This representative is online'"
                            >check_circle</mat-icon
                        >
                        <mat-icon
                            color="warn"
                            *ngIf="!onlineRepService.onlineReps.has(address)"
                            matTooltipPosition="right"
                            [matTooltip]="'This representative is offline'"
                            >error_outline</mat-icon
                        >
                    </div>
                </div>

                <!-- Second line -->
                <div
                    style="display: flex; align-items: center; word-break: break-all; margin: 8px 0"
                    class="app-page-subtitle"
                >
                    <span class="account-address-wrapper mono">
                        <span [innerHTML]="formatAccountAddress(address)"></span>
                    </span>
                    <div style="display: flex" [style.marginLeft.px]="vp.sm ? 8 : 16">
                        <ng-container *ngIf="!vp.sm && !vp.md">
                            <app-copy-button [data]="address"></app-copy-button>
                            <app-qr-button [address]="address"></app-qr-button>
                            <app-bookmark-button [id]="address"></app-bookmark-button>
                        </ng-container>
                        <app-account-actions-menu
                            *ngIf="vp.sm || vp.md"
                            [data]="address"
                            [(showFilter)]="showFilter"
                            [showFilterActionButton]="showFilterActionButton()"
                            [showCSVExportActionButton]="showCSVExportActionButton()"
                        ></app-account-actions-menu>
                    </div>
                </div>

                <!-- Third Line -->
                <div
                    *ngIf="accountOverview.opened"
                    class="text-secondary"
                    style="display: flex; flex-wrap: wrap; margin: 4px 0"
                    [style.flexDirection]="vp.sm ? 'column' : 'row'"
                    [style.alignItems]="vp.sm ? 'start' : 'center'"
                    [style.fontSize.px]="vp.sm ? 16 : 16"
                >
                    <div *ngIf="hasAlias(address)" style="display: flex" [style.marginBottom.px]="vp.sm ? 12 : 0">
                        <span>Known as &ldquo;{{ getAlias(address) }}&rdquo;</span>
                        <span *ngIf="!vp.sm" style="margin: 0 8px">|</span>
                    </div>
                    <div style="display: flex; align-items: center">
                        <div
                            *ngIf="accountOverview.representative === address"
                            class="mat-overline"
                            style="line-height: unset"
                            [style.marginTop.px]="2"
                            [style.fontSize.px]="12"
                        >
                            Self-Represented
                        </div>
                        <div
                            *ngIf="accountOverview.representative !== address"
                            style="display: flex; align-items: center"
                        >
                            Represented by&nbsp;
                            <a
                                class="link text-secondary"
                                [routerLink]="'/' + navItems.account.route + '/' + accountOverview.representative"
                            >
                                {{ accountRepresentative }}
                            </a>
                            <mat-icon
                                *ngIf="!onlineRepService.onlineReps.has(accountOverview.representative)"
                                [matTooltip]="'Account\'s representative is offline'"
                                [matTooltipPosition]="'right'"
                                color="warn"
                                style="height: 16px; width: 16px; font-size: 16px; margin-left: 8px"
                            >
                                error_outline
                            </mat-icon>
                        </div>
                    </div>
                </div>

                <!-- Opened Account Price Data -->
                <div class="account-summary-tags" responsive *ngIf="accountOverview.opened">
                    <ng-template [ngTemplateOutlet]="mobileMonKey"></ng-template>
                    <div class="account-balance" [style.marginTop.px]="vp.sm ? 16 : 0" responsive>
                        <ng-container *ngIf="vp.sm">
                            <ng-template [ngTemplateOutlet]="accountBalance"></ng-template>
                            <div class="text-secondary">
                                <span class="account-btc-amount" [style.marginRight.px]="4">{{
                                    formatBtcPrice(accountOverview.balanceRaw)
                                }}</span>
                                |
                                <span class="account-usd-amount" [style.marginLeft.px]="4">{{
                                    formatUsdPrice(accountOverview.balanceRaw) | currency
                                }}</span>
                            </div>
                        </ng-container>

                        <div
                            *ngIf="!vp.sm"
                            style="display: flex; align-items: center; margin: 16px 0; line-height: 24px"
                        >
                            <div style="margin-right: 8px">
                                <ng-template [ngTemplateOutlet]="accountBalance"></ng-template>
                            </div>
                            ·
                            <span class="account-btc-amount text-secondary" style="margin: 0 8px">
                                {{ formatBtcPrice(accountOverview.balanceRaw) }}</span
                            >
                            ·
                            <span class="account-usd-amount text-secondary" [style.marginLeft.px]="8">
                                {{ formatUsdPrice(accountOverview.balanceRaw) | currency }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
</ng-template>

<ng-template #bodyContent>
    <div
        class="account-tabs-container"
        responsive
        [style.marginTop.px]="vp.sm && getReceivableTransactionsCount() > 0 ? 32 : 0"
    >
        <div class="tab-buttons" responsive>
            <button
                class="divider-border"
                blui-inline
                mat-flat-button
                (click)="shownTabNumber = 1"
                [class.active]="shownTabNumber === 1"
                style="border-top-left-radius: 16px; border-right: 0"
            >
                <mat-icon>verified</mat-icon>
                <span>Transactions</span>
                <span *ngIf="!vp.sm" [style.marginLeft.px]="vp.sm ? 0 : 4"
                    >({{ accountOverview.blockCount | appComma }})</span
                >
            </button>

            <button
                class="divider-border"
                blui-inline
                mat-flat-button
                (click)="shownTabNumber = 3"
                [class.active]="shownTabNumber === 3"
                style="border-right: 0"
                *ngIf="delegatorCount > 0"
            >
                <mat-icon>how_to_vote</mat-icon>
                <span>Delegators</span>
                <span *ngIf="!vp.sm" [style.marginLeft.px]="vp.sm ? 0 : 4">({{ delegatorCount | appComma }})</span>
            </button>

            <button
                class="divider-border"
                blui-inline
                mat-flat-button
                (click)="shownTabNumber = 4"
                [class.active]="shownTabNumber === 4"
                style="border-top-right-radius: 16px"
            >
                <mat-icon>insights</mat-icon>
                <span>Insights</span>
            </button>

            <!--
            <button
                mat-flat-button
                (click)="shownTabNumber = 5; fetchNfts()"
                [class.active]="shownTabNumber === 5"
                style="border-top-right-radius: 4px"
            >
                <ng-container *ngIf="vp.sm">
                    <mat-icon>image</mat-icon>
                </ng-container>
                <ng-container *ngIf="!vp.sm"> NFTs </ng-container>
            </button>
            -->
        </div>

        <div
            responsive
            class="tx-content-container divider-border"
            style="border-top-left-radius: 0"
            [style.backgroundColor]="
                shownTabNumber === 4 || shownTabNumber === 5 || shownTabNumber === 1 ? 'unset' : ''
            "
            [class.divider-border]="shownTabNumber !== 4 && shownTabNumber !== 5 && shownTabNumber !== 1"
        >
            <ng-container *ngIf="shownTabNumber === 1">
                <mat-accordion
                    *ngIf="getReceivableTransactionsCount() > 0"
                    style="
                        display: flex;
                        width: 100%;
                        padding: 0;
                        margin-bottom: 16px;
                        border-radius: 16px;
                        overflow: hidden;
                        border-top-left-radius: 0;
                    "
                    [style.borderTopRightRadius.px]="vp.sm ? 0 : 16"
                    class="divider-border"
                >
                    <mat-expansion-panel style="width: 100%" [expanded]="true">
                        <mat-expansion-panel-header style="height: 56px">
                            <mat-panel-title style="font-weight: 400">
                                <span class="mat-subheading-2" style="margin-bottom: 0">{{
                                    getReceivableTransactionsCount() | appComma
                                }}</span>
                                <span style="margin-left: 8px" class="mat-body-1 text-secondary">
                                    Receivable Transactions
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <account-tx-tab [address]="address" [isPending]="true"></account-tx-tab>
                    </mat-expansion-panel>
                </mat-accordion>

                <mat-card
                    style="padding: 0"
                    class="divider-border mat-elevation-z0"
                    [style.border-top-right-radius]="
                        vp.sm ? (getReceivableTransactionsCount() > 0 ? borderRadius : 0) : borderRadius
                    "
                    [style.borderTopLeftRadius.px]="getReceivableTransactionsCount() > 0 ? borderRadius : 0"
                >
                    <ng-container>
                        <div
                            style="
                                padding: 16px 8px 16px 16px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                            "
                        >
                            <div>
                                <span class="mat-subheading-2">{{ accountOverview.blockCount | appComma }}</span>
                                <span style="margin-left: 4px" class="text-secondary mat-body-1">
                                    Confirmed Transactions
                                </span>
                            </div>
                            <div
                                *ngIf="accountOverview.opened && !vp.sm"
                                style="display: flex; justify-content: center; align-items: center"
                            >
                                <app-csv-button
                                    *ngIf="showCSVExportActionButton()"
                                    [address]="address"
                                ></app-csv-button>
                                <app-filter-button
                                    *ngIf="showFilterActionButton()"
                                    style="margin-left: 8px"
                                    [(showFilter)]="showFilter"
                                ></app-filter-button>
                                <app-tx-view-button [(isCompact)]="isCompact" *ngIf="!vp.sm"></app-tx-view-button>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                    </ng-container>
                    <account-tx-tab
                        style="margin-top: 8px"
                        [isCompact]="isCompact"
                        [address]="address"
                        [blockCount]="accountOverview.blockCount"
                    ></account-tx-tab>
                </mat-card>
            </ng-container>

            <account-delegators-tab *ngIf="shownTabNumber === 3" [address]="address"></account-delegators-tab>

            <account-insights-tab
                *ngIf="shownTabNumber === 4"
                [address]="address"
                [maxInsightsLimit]="MAX_INSIGHTS"
                [blockCount]="accountOverview.blockCount"
            >
            </account-insights-tab>

            <!--
            <account-nfts-tab
                *ngIf="shownTabNumber === 5"
                [address]="address"
                [nfts]="nfts"
                [isLoadingNFTs]="isLoadingNFTs"
                [hasError]="hasNFTsError"
            >
            </account-nfts-tab>
            -->
        </div>
    </div>
</ng-template>

<mat-sidenav-container
    [hasBackdrop]="vp.sm || vp.md"
    (backdropClick)="showFilter = false"
    style="z-index: 4"
    style="width: 100%"
>
    <mat-sidenav
        [mode]="vp.md || vp.sm ? 'over' : 'side'"
        class="filter-drawer"
        (opened)="disableBodyScrollWhenOpen()"
        (closed)="disableBodyScrollWhenOpen()"
        [opened]="showFilter"
        position="end"
        [disableClose]="true"
    >
        <app-transaction-filter-drawer
            *ngIf="accountOverview"
            (close)="showFilter = false"
            (search)="vp.md || vp.sm ? (showFilter = false) : undefined"
            [defaultPageSize]="isBRPD ? DEFAULT_BRPD_TX_SIZE : DEFAULT_TX_SIZE"
        ></app-transaction-filter-drawer>
    </mat-sidenav>
    <mat-sidenav-content style="height: 100vh">
        <div class="app-page-root" responsive style="height: unset">
            <div class="app-page-content" style="max-width: 1100px">
                <ng-template [ngTemplateOutlet]="headerContent"></ng-template>
                <div *ngIf="accountOverview" class="animation-body">
                    <ng-template [ngTemplateOutlet]="bodyContent"></ng-template>
                </div>
                <ng-container *ngIf="hasError">
                    <mat-divider></mat-divider>
                    <app-error></app-error>
                </ng-container>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
