@use '../../../../node_modules/@brightlayer-ui/colors/palette' as blui;

.account-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
    &.sm {
        margin-bottom: 8px;
        flex-direction: column;
        align-items: flex-start;
    }
    .account-header-details {
        display: flex;
        align-items: center;
    }
    .account-address-line {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        .account-address {
            margin-right: 8px;
        }
    }
    .account-address-line,
    .account-representative {
        display: flex;
        align-items: center;
        word-break: break-all;
    }
    .account-representative-address {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }

    .account-representative {
        display: flex;
    }

    .account-monkey {
        width: 185px;
        min-width: 150px;
        &.md {
            width: 180px;
        }
        &.sm {
            width: 100px;
            min-width: 100px;
            margin-right: 16px;
        }
    }

    .account-balance {
        .account-ban-amount {
            font-size: 24px;
            font-weight: 600;
        }
        .account-btc-amount {
            font-size: 18px;
        }
        .account-usd-amount {
            font-size: 18px;
        }
    }
    .account-balance.sm {
        display: flex;
        flex: 1 1 0px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .account-ban-amount {
            font-size: 18px;
            margin-bottom: -4px;
        }
        .account-btc-amount {
            font-size: 14px;
        }
        .account-usd-amount {
            font-size: 14px;
        }
    }
}

#qr-code {
    height: 120px !important;
    width: 120px !important;
    box-sizing: border-box;
    border: solid 1px map-get(blui.$blui-green, 500);
}

.account-tabs .mat-tab-label {
    height: 5rem;
    justify-content: center;
    width: 100%;
    min-width: unset;
}

.account-summary-tags {
    &.sm {
        display: flex;
    }
    blui-list-item-tag {
        margin-right: 16px;
    }
    .account-balance {
        margin-bottom: 8px;
        font-size: 18px;
    }
    .account-pending {
        background-color: map-get(blui.$blui-white, 50);
        color: map-get(blui.$blui-orange, 500);
        border: solid 1px map-get(blui.$blui-orange, 500);
    }
}

.account-tabs {
    .mat-badge-content {
        min-width: 22px;
        width: unset !important;
        padding: 2px;
        top: -16px !important;
    }
    &.sm {
        margin-right: -16px;
        margin-left: -16px;
    }
}

.account-empty-state {
    padding: 72px 48px;
}

@mixin account-theme(
    $repOnlineTag,
    $repOfflineTag,
    $heightTag,
    $receiveTag,
    $sendTag,
    $changeTag,
    $receiveAmount,
    $sendAmount,
    $hashColor,
    $pendingBadgeColor,
    $delegatorsBadgeColor
) {
    .account-rep-online {
        @include repOnlineTag();
    }
    .account-rep-offline {
        @include repOfflineTag();
    }
    .account-pending-badge {
        .mat-badge-content {
            // background-color: $pendingBadgeColor !important;
        }
    }
    .account-delegators-badge {
        .mat-badge-content {
            // background-color: $delegatorsBadgeColor !important;
        }
    }
    .tab-transaction-list {
        .height {
            @include heightTag();
        }
        .hash,
        .to-from {
            color: $hashColor;
        }
        blui-list-item-tag.type {
            &.send {
                @include sendTag();
            }
            &.receive {
                @include receiveTag();
            }
            &.change {
                @include changeTag();
            }
        }
        .amount.send {
            @include sendAmount();
        }
        .amount.receive {
            @include receiveAmount();
        }
    }
}
