<ng-template #transactionPaginator>
    <app-paginator
        *ngIf="accountOverview.blockCount > 50"
        [maxElements]="accountOverview.blockCount"
        [pageSize]="paginatorSize"
        [pageIndex]="confirmedTxPageIndex"
        [disableMove]="isLoading"
        (pageIndexChange)="changePage($event)"
    >
    </app-paginator>
</ng-template>

<ng-template #desktopMonKey>
    <img
        *ngIf="!vp.sm"
        [src]="apiService.createMonKeyUrl(address)"
        loading="lazy"
        style="min-width: 220px; height: 220px; margin-top: -12px; margin-right: 16px"
    />
</ng-template>

<ng-template #mobileMonKey>
    <img
        *ngIf="vp.sm"
        [src]="apiService.createMonKeyUrl(address)"
        loading="lazy"
        style="width: 120px; height: 120px; min-width: 120px; margin-right: 16px"
    />
</ng-template>

<ng-template #headerContent>
    <div class="account-header" responsive>
        <!-- Loading -->
        <div *ngIf="isLoading" style="display: flex">
            <ng-template [ngTemplateOutlet]="desktopMonKey"></ng-template>
            <div>
                <div class="app-page-title">Loading</div>
                <div
                    class="app-page-subtitle"
                    style="word-break: break-all"
                    [innerHTML]="formatAccountAddress(address)"
                ></div>
            </div>
        </div>

        <!--<mat-card *ngIf="!isLoading" style="display: flex; width: 100%" class="divider-border mat-elevation-z0"> -->
        <div *ngIf="!isLoading" style="display: flex">
            <ng-template [ngTemplateOutlet]="desktopMonKey"></ng-template>
            <div>
                <!-- First Line -->
                <div class="app-page-title">
                    <ng-container *ngIf="!isRepresentative()">
                        <span *ngIf="accountOverview.opened"> Account </span>
                        <span *ngIf="!accountOverview.opened"> Unopened Account </span>
                    </ng-container>
                    <div *ngIf="isRepresentative()" style="display: flex; align-items: center">
                        <div style="margin-right: 16px">
                            {{ accountOverview.principal ? 'Principal Rep' : 'Representative' }}
                        </div>

                        <mat-icon
                            color="primary"
                            *ngIf="onlineRepService.onlineReps.has(address)"
                            matTooltipPosition="right"
                            [matTooltip]="'This representative is online'"
                            >check_circle</mat-icon
                        >
                        <mat-icon
                            color="warn"
                            *ngIf="!onlineRepService.onlineReps.has(address)"
                            matTooltipPosition="right"
                            [matTooltip]="'This representative is offline'"
                            >error_outline</mat-icon
                        >
                    </div>
                </div>

                <!-- Second line -->
                <div
                    style="display: flex; align-items: center; word-break: break-all"
                    class="app-page-subtitle"
                    [style.marginBottom.px]="vp.sm ? 8 : 4"
                >
                    <span [innerHTML]="formatAccountAddress(address)"></span>
                    <div style="display: flex" [style.marginLeft.px]="vp.sm ? 4 : 16">
                        <ng-container *ngIf="!vp.sm && !vp.md">
                            <app-copy-button [data]="address"></app-copy-button>
                            <app-qr-button [address]="address"></app-qr-button>
                            <app-bookmark-button [id]="address"></app-bookmark-button>
                            <app-csv-button
                                [address]="address"
                                [blockCount]="accountOverview?.blockCount"
                                [maxTransactionsLimit]="MAX_INSIGHTS"
                            ></app-csv-button>
                        </ng-container>
                        <app-account-actions-menu
                            *ngIf="vp.sm || vp.md"
                            [blockCount]="accountOverview.blockCount"
                            [maxTransactionsHistory]="MAX_INSIGHTS"
                            [data]="address"
                        ></app-account-actions-menu>
                    </div>
                </div>

                <!-- Third Line -->
                <div
                    *ngIf="accountOverview.opened"
                    class="text-secondary"
                    style="display: flex; align-items: center; flex-wrap: wrap"
                    [style.fontSize.px]="vp.sm ? 16 : 16"
                    [style.marginBottom.px]="vp.sm ? 8 : 24"
                >
                    <div *ngIf="hasAlias(address)" style="display: flex">
                        <ng-container *ngIf="vp.sm"> A.K.A </ng-container>
                        <ng-container *ngIf="!vp.sm"> Also known as </ng-container>
                        {{ getAlias(address) }}
                        <span style="margin: 0 8px">|</span>
                    </div>
                    <div style="display: flex; align-items: center">
                        <div
                            *ngIf="accountOverview.representative === address"
                            class="mat-overline"
                            style="line-height: unset"
                            [style.fontSize.px]="12"
                        >
                            Self-Represented
                        </div>
                        <div
                            *ngIf="accountOverview.representative !== address"
                            style="display: flex; align-items: center"
                        >
                            Represented by&nbsp;
                            <a
                                class="link text-secondary"
                                [routerLink]="'/' + navItems.account.route + '/' + accountOverview.representative"
                            >
                                {{ accountRepresentative }}
                            </a>
                            <mat-icon
                                *ngIf="!onlineRepService.onlineReps.has(accountOverview.representative)"
                                [matTooltip]="'Account\'s representative is offline'"
                                [matTooltipPosition]="'right'"
                                color="warn"
                                style="height: 16px; width: 16px; font-size: 16px; margin-left: 8px"
                            >
                                error_outline
                            </mat-icon>
                        </div>
                    </div>
                </div>

                <!-- Price Data -->
                <div class="account-summary-tags" responsive *ngIf="accountOverview.opened">
                    <ng-template [ngTemplateOutlet]="mobileMonKey"></ng-template>
                    <div class="account-balance" [style.marginTop.px]="vp.sm ? 16 : 16" responsive>
                        <ng-container *ngIf="vp.sm">
                            <div class="account-ban-amount">{{ confirmedBalance }} BAN</div>
                            <div class="text-secondary">
                                <span class="account-btc-amount" [style.marginRight.px]="4">{{
                                    formatBtcPrice(accountOverview.balanceRaw)
                                }}</span>
                                |
                                <span class="account-usd-amount" [style.marginLeft.px]="4">{{
                                    formatUsdPrice(accountOverview.balanceRaw) | currency
                                }}</span>
                            </div>
                        </ng-container>

                        <div *ngIf="!vp.sm" style="display: flex; align-items: center">
                            <span class="account-ban-amount" [style.marginRight.px]="8">
                                {{ confirmedBalance }} BAN
                            </span>
                            ·
                            <span class="account-btc-amount text-secondary" style="margin: 0 8px">
                                {{ formatBtcPrice(accountOverview.balanceRaw) }}</span
                            >
                            ·
                            <span class="account-usd-amount text-secondary" [style.marginLeft.px]="8">
                                {{ formatUsdPrice(accountOverview.balanceRaw) | currency }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #bodyContent>
    <div class="account-tabs-container" responsive>
        <div class="tab-buttons" responsive>
            <button
                mat-flat-button
                (click)="shownTabNumber = 1"
                [class.active]="shownTabNumber === 1"
                style="border-top-left-radius: 4px; border-right: 0"
            >
                <ng-container *ngIf="vp.sm">
                    <mat-icon>verified</mat-icon>
                    <div class="count-subtitle">
                        {{ withCommas(accountOverview.blockCount) }}
                    </div>
                </ng-container>
                <ng-container *ngIf="!vp.sm">
                    Confirmed {{ vp.md ? 'Tx' : 'Transactions' }} ({{ withCommas(accountOverview.blockCount) }})
                </ng-container>
            </button>

            <button
                mat-flat-button
                (click)="shownTabNumber = 2"
                [class.active]="shownTabNumber === 2"
                style="border-right: 0"
            >
                <ng-container *ngIf="vp.sm">
                    <mat-icon>pending</mat-icon>
                    <div class="count-subtitle">
                        {{ receivableTransactions.length }}
                    </div>
                </ng-container>
                <ng-container *ngIf="!vp.sm">
                    Receivable {{ vp.md ? 'Tx' : 'Transactions' }} ({{ withCommas(receivableTransactions.length) }})
                </ng-container>
            </button>

            <button
                mat-flat-button
                (click)="shownTabNumber = 3"
                [class.active]="shownTabNumber === 3"
                style="border-right: 0"
            >
                <ng-container *ngIf="vp.sm">
                    <mat-icon>how_to_vote</mat-icon>
                    <div class="count-subtitle">
                        {{ withCommas(delegatorCount) }}
                    </div>
                </ng-container>
                <ng-container *ngIf="!vp.sm"> Delegators ({{ withCommas(delegatorCount) }}) </ng-container>
            </button>

            <button
                mat-flat-button
                (click)="shownTabNumber = 4"
                [class.active]="shownTabNumber === 4"
                style="border-top-right-radius: 4px"
            >
                <ng-container *ngIf="vp.sm">
                    <mat-icon>insights</mat-icon>
                </ng-container>
                <ng-container *ngIf="!vp.sm"> Insights </ng-container>
            </button>

            <!--
            <button
                mat-flat-button
                (click)="shownTabNumber = 5; fetchNfts()"
                [class.active]="shownTabNumber === 5"
                style="border-top-right-radius: 4px"
            >
                <ng-container *ngIf="vp.sm">
                    <mat-icon>image</mat-icon>
                </ng-container>
                <ng-container *ngIf="!vp.sm"> NFTs </ng-container>
            </button>
            -->
        </div>

        <div
            responsive
            class="tx-content-container divider-border"
            [style.backgroundColor]="shownTabNumber === 4 || shownTabNumber === 5 ? 'unset' : ''"
            [class.divider-border]="shownTabNumber !== 4 && shownTabNumber !== 5"
        >
            <account-tx-tab
                *ngIf="shownTabNumber === 1 && !isBrpd"
                [paginator]="transactionPaginator"
                [blockCount]="accountOverview.blockCount"
                [txPerPage]="txPerPage"
                [transactions]="confirmedTransactions.display"
            ></account-tx-tab>

            <account-brpd-tab
                *ngIf="shownTabNumber === 1 && isBrpd"
                [address]="address"
                [blockCount]="accountOverview.blockCount"
            ></account-brpd-tab>

            <account-tx-tab
                *ngIf="shownTabNumber === 2"
                [transactions]="receivableTransactions"
                [isPending]="true"
            ></account-tx-tab>

            <account-delegators-tab
                *ngIf="shownTabNumber === 3"
                [address]="accountOverview.address"
                [delegators]="delegators"
                [weightSum]="weightSum"
                [loadedDelegatorsCount]="delegators.length"
                [delegatorsCount]="delegatorCount"
                (loadMoreDelegators)="fetchDelegators()"
            >
            </account-delegators-tab>

            <account-insights-tab
                *ngIf="shownTabNumber === 4"
                [blockCount]="accountOverview.blockCount"
                [address]="address"
            >
            </account-insights-tab>

            <account-nfts-tab
                *ngIf="shownTabNumber === 5"
                [address]="address"
                [nfts]="nfts"
                [isLoadingNFTs]="isLoadingNFTs"
                [hasError]="hasNFTsError"
            >
            </account-nfts-tab>
        </div>
    </div>
</ng-template>

<div class="app-page-root" responsive>
    <div class="app-page-content" style="max-width: 1100px">
        <app-error *ngIf="hasError"></app-error>
        <ng-container *ngIf="!hasError">
            <ng-template [ngTemplateOutlet]="headerContent"></ng-template>
            <div *ngIf="!isLoading" class="animation-body">
                <ng-template [ngTemplateOutlet]="bodyContent"></ng-template>
            </div>
        </ng-container>
    </div>
</div>
