.account-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    &.sm {
        margin-bottom: 8px;
        flex-direction: column;
        align-items: flex-start;
    }

    .blui-user-menu-avatar {
        background-color: unset !important;
    }

    .account-balance {
        .account-ban-amount {
            font-size: 24px;
            font-weight: 600;
        }
        .account-btc-amount {
            font-size: 16px;
        }
        .account-usd-amount {
            font-size: 16px;
        }
    }
    .account-balance.sm {
        display: flex;
        flex: 1 1 0px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .account-ban-amount {
            font-size: 18px;
            margin-bottom: -4px;
        }
        .account-btc-amount {
            font-size: 14px;
        }
        .account-usd-amount {
            font-size: 14px;
        }
    }
}

#qr-code {
    height: 120px !important;
    width: 120px !important;
    box-sizing: border-box;
}

.account-summary-tags .mat-tab-label {
    height: 5rem;
    justify-content: center;
    width: 100%;
    min-width: unset;
}

.account-summary-tags {
    &.sm {
        display: flex;
    }
    .account-balance {
        margin-bottom: 8px;
        font-size: 18px;
    }
}

.tx-content-container {
    border-radius: 4px;
    border-top-left-radius: 0px;
    &.sm {
        border-radius: 0;
    }
}
.tab-buttons {
    display: flex;
    height: 56px;
    .count-subtitle {
        margin-top: -12px;
    }
    button {
        z-index: 2;
        box-sizing: border-box;
        border-radius: 0;
        border: solid 1px;
        border-bottom: 0;
        height: 100%;
        padding: 0 24px;
        //width: 20%;
    }
}

.account-tabs-container {
    &.sm {
        margin-right: -16px;
        margin-left: -16px;
        .tab-buttons {
            width: 100%;
            height: 80px;
            display: flex;
            button {
                padding: 0;
                width: 100%;
                &.active {
                    box-sizing: border-box;
                }
            }
        }
        .tab-empty-state {
            padding: 32px 16px;
        }
    }
    .tab-empty-state {
        padding: 64px 16px;
    }
}
