@import '~@pxblue/colors/palette';
@import '~@pxblue/colors-branding/palette';

:host {
    display: flex;
    flex: 1;
}

.representatives-title {
    display: flex;
    width: 100%;
    text-align: left;
}

.representatives-subtitle {
    display: flex;
    width: 100%;
    text-align: left;
}

.representatives-root {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    // TODO: move these paddings to a global style, shared
    padding: 64px 64px 64px 64px;
    &.md {
        //  padding: 48px 48px 48px 48px; NOT GRID!
    }
    &.sm {
        padding: 48px 20px 48px 20px;
    }
}

.representatives-content {
    width: 100%;
    max-width: 1200px;
}

.representatives-chart {
    margin: 0;
    margin-top: 24px;
    display: flex;
    justify-content: left;
    &.md,
    &.sm {
        margin-top: 0;
        justify-content: center;
    }
}

.representatives-monitored-header {
    margin-top: 56px;
}
.representatives-monitored-subtitle {
    margin-bottom: 16px !important;
}

.representatives-all-header {
    margin-top: 72px;
}
.representatives-all-subtitle {
    margin-bottom: 16px !important;
}

.representatives-monitored-list,
.representatives-all-list {
    .mat-list-item-content {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.representatives-monitored-list {
    width: 100%;
}

.representatives-name-cell {
    font-weight: 600;
    word-break: break-word;
}
.representatives-address-cell {
    word-break: break-all;
    padding: 4px 16px 4px 16px !important;
}
.representatives-weight-cell {
    padding: 4px 8px 4px 0px !important;
}

.representatives-clickable-cell {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.monitored-reps-table,
.all-reps-table {
    width: 100%;
    * {
        font-size: 15px;
    }
    &.md * {
        font-size: 13px;
    }
}

th.mat-sort-header-sorted {
    color: black;
}
