<ng-template #titleContent>
    <div class="app-page-title">
        <ng-container *ngIf="!loading">Known Accounts</ng-container>
        <ng-container *ngIf="loading">Loading</ng-container>
    </div>
    <div class="app-page-subtitle">
        <div>A list of known accounts including exchanges, games, faucets, representatives & more.</div>
        <div>
            Accounts with custom vanity MonKeys can be seen
            <span (click)="routeVanityAddresses()" class="primary link">here</span>.
        </div>
    </div>
</ng-template>

<ng-template #bodyContent>
    <table
        mat-table
        responsive
        [dataSource]="accountsDataSource"
        #sort="matSort"
        matSort
        class="mat-elevation-z2 known-accounts-table"
    >
        <ng-container matColumnDef="alias">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Account</th>
            <td
                mat-cell
                *matCellDef="let element"
                (click)="routeRepAddress(element.address)"
                style="padding: 8px 16px 8px 24px"
            >
                <span class="link primary" style="word-break: break-word; font-weight: 600">{{ element.alias }}</span>
                <br />
                <span class="link" style="word-break: break-word" *ngIf="!vp.sm">{{
                    formatAddr(element.address)
                }}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
            <td mat-cell *matCellDef="let element">
                {{ element.type }}
            </td>
            a
        </ng-container>

        <ng-container matColumnDef="owner">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0 8px">Owner</th>
            <td mat-cell *matCellDef="let element" style="word-break: break-all; padding: 0 8px">
                {{ element.owner }}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" style="height: 56px"></tr>
    </table>
</ng-template>

<div class="app-page-root" responsive>
    <div class="app-page-content">
        <app-error *ngIf="error"></app-error>
        <ng-container *ngIf="!error">
            <ng-template [ngTemplateOutlet]="titleContent"></ng-template>
            <ng-template *ngIf="!loading" [ngTemplateOutlet]="bodyContent"></ng-template>
        </ng-container>
    </div>
</div>

<app-wave [darkThemeWaveNumber]="16"></app-wave>
