:host {
    display: flex;
    flex: 1;
}

.known-accounts-address-cell {
    word-break: break-all;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.known-accounts-table {
    width: 100%;
    margin-top: 56px;
    * {
        font-size: 15px;
    }
    &.md * {
        font-size: 13px;
    }
}

th.mat-sort-header-sorted {
    color: black;
}
