<ng-template #transactionPaginator let-top="top">
    <ng-container *ngIf="!isPending && txService.showConfirmedTransactionsPaginator()">
        <mat-divider *ngIf="!top"></mat-divider>
        <app-paginator [blockCount]="blockCount" [showPageNumberOnly]="true"> </app-paginator>
        <mat-divider *ngIf="top"></mat-divider>
    </ng-container>
</ng-template>

<div class="brpd-tab-transaction-list animation-content">
    <ng-template *ngTemplateOutlet="transactionPaginator; context: { top: true }"></ng-template>
    <div
        *ngFor="let tx of getDisplayedTransactions(); trackBy: trackByFn; let last = last"
        style="position: relative"
        class="animation-content"
    >
        <div style="display: flex; align-items: center">
            <img
                [src]="apiService.createMonKeyUrl(tx.address || tx.newRepresentative)"
                loading="lazy"
                style="height: 50px; width: 50px; margin-right: 12px"
            />
            <div
                *ngIf="tx.height"
                [routerLink]="'/' + navItems.hash.route + '/' + tx.hash"
                class="link"
                style="font-family: monospace; margin-right: 24px"
            >
                <span style="margin-right: 0px" style="font-size: 14px">#</span>{{ util.numberWithCommas(tx.height) }}
            </div>

            <blui-list-item-tag
                style="margin-right: 24px; width: 60px; text-align: center"
                [label]="tx.type || 'receive'"
                class="type"
                [class]="txService.createTagClass(tx, isPending)"
            ></blui-list-item-tag>

            <div
                class="amount"
                [class.primary]="tx.type === 'receive'"
                [class.warn]="tx.type === 'send'"
                style="width: 200px"
            >
                <ng-container *ngIf="tx.type !== 'change'">
                    {{ tx.type === 'receive' || isPending ? '+' : '-' }}
                    {{ formatNumber(tx.amount) }}
                    BAN
                </ng-container>
            </div>
            <div
                style="margin-right: 24px"
                (mouseenter)="tx.hoverAddress = true"
                (mouseleave)="tx.hoverAddress = false"
            >
                <button
                    mat-icon-button
                    *ngIf="tx.hoverAddress"
                    (click)="copyAddress(tx)"
                    style="cursor: pointer; height: 24px; width: 24px; margin-right: 4px; line-height: 24px"
                >
                    <mat-icon style="font-size: 16px">
                        {{ tx.showCopiedAddressIcon ? 'check_circle' : 'copy_all' }}
                    </mat-icon>
                </button>
                <a
                    style="font-family: monospace"
                    class="link text"
                    [routerLink]="'/' + navItems.account.route + '/' + (tx.address || tx.newRepresentative)"
                    >{{ util.shortenAddress(tx.address || tx.newRepresentative) }}
                </a>
            </div>

            <!-- JUNGLE TV -->
            <img
                *ngIf="aliasService.getSocialMedia(tx.address || tx.newRepresentative) === 'jungletv'"
                src="assets/social-media/jtv.png"
                class="social-media-icon"
                style="margin-right: 8px"
            />

            <!-- Twitter -->
            <button
                mat-icon-button
                class="social-media-button"
                *ngIf="aliasService.getSocialMedia(tx.address || tx.newRepresentative) === 'twitter'"
                (click)="copyPlatformUserId(tx)"
            >
                <img
                    *ngIf="!tx.showCopiedPlatformIdIcon"
                    src="assets/social-media/twitter.svg"
                    class="social-media-icon"
                />
                <mat-icon style="font-size: 16px" *ngIf="tx.showCopiedPlatformIdIcon">check_circle</mat-icon>
            </button>

            <!-- Discord -->
            <button
                mat-icon-button
                class="social-media-button"
                *ngIf="aliasService.getSocialMedia(tx.address || tx.newRepresentative) === 'discord'"
                (click)="copyPlatformUserId(tx)"
            >
                <img
                    *ngIf="!tx.showCopiedPlatformIdIcon"
                    src="assets/social-media/discord.svg"
                    class="social-media-icon"
                />
                <mat-icon style="font-size: 16px" *ngIf="tx.showCopiedPlatformIdIcon">check_circle</mat-icon>
            </button>

            <!-- Telegram -->
            <button
                mat-icon-button
                class="social-media-button"
                *ngIf="aliasService.getSocialMedia(tx.address || tx.newRepresentative) === 'telegram'"
                (click)="copyPlatformUserId(tx)"
            >
                <img
                    *ngIf="!tx.showCopiedPlatformIdIcon"
                    src="assets/social-media/telegram.svg"
                    class="social-media-icon"
                />
                <mat-icon style="font-size: 16px" *ngIf="tx.showCopiedPlatformIdIcon">check_circle</mat-icon>
            </button>

            <a
                style="font-weight: 600; font-size: 14px"
                class="link text primary"
                *ngIf="hasNickname(tx.address || tx.newRepresentative)"
                [routerLink]="'/' + navItems.account.route + '/' + (tx.address || tx.newRepresentative)"
            >
                <!--
                <ng-container
                    *ngIf="aliasService.getSocialMedia(tx.address || tx.newRepresentative) === 'discord'">
                    ID:
                </ng-container>
                -->
                {{ aliasService.getAlias(tx.address || tx.newRepresentative) }}

                <!--
                <ng-container *ngIf="aliasService.getSocialMedia(tx.address || tx.newRepresentative) === 'discord'">#????</ng-container>
                -->
            </a>
            <blui-spacer></blui-spacer>
            <div style="margin-right: 12px">
                <div style="display: flex; flex-direction: column; align-items: end">
                    <span class="mat-body-2" style="margin-bottom: -4px">
                        {{ txService.dateMap.get(tx.hash).date }}
                    </span>
                    <span
                        class="mat-body-2 text-secondary"
                        (mouseenter)="tx.timestampHovered = true"
                        (mouseleave)="tx.timestampHovered = false"
                    >
                        <ng-container *ngIf="!tx.timestampHovered">
                            {{ txService.dateMap.get(tx.hash).relativeTime }}
                        </ng-container>
                        <ng-container *ngIf="tx.timestampHovered">
                            {{ txService.getTime(tx.timestamp) }}
                        </ng-container>
                    </span>
                </div>
            </div>
        </div>
        <mat-divider *ngIf="!last"></mat-divider>
        <div class="invisible-full-address">
            {{ tx.address }}
        </div>
    </div>

    <div *ngIf="showLoadingEmptyState()" class="tab-empty-state">
        <blui-empty-state responsive class="account-empty-state" title="Loading...">
            <mat-icon blui-empty-icon>travel_explore</mat-icon>
        </blui-empty-state>
    </div>

    <div *ngIf="blockCount === 0 || (getDisplayedTransactions().length === 0 && isPending)" class="tab-empty-state">
        <blui-empty-state
            responsive
            class="account-empty-state"
            [title]="txService.getEmptyStateTitle(isPending)"
            [description]="txService.getEmptyStateDescription(isPending)"
        >
            <mat-icon blui-empty-icon>paid</mat-icon>
        </blui-empty-state>
    </div>

    <div
        *ngIf="!isLoading() && getDisplayedTransactions().length === 0 && txService.hasFiltersApplied()"
        class="tab-empty-state"
    >
        <blui-empty-state
            responsive
            class="account-empty-state"
            title="No Filtered Data"
            description="Please adjust your filters and try again."
        >
            <mat-icon blui-empty-icon>travel_explore</mat-icon>
        </blui-empty-state>
    </div>

    <ng-template *ngTemplateOutlet="transactionPaginator; context: { top: false }"></ng-template>
</div>
