<ng-template #transactionPaginator>
    <ng-container
        *ngIf="
            transactions.length > 0 &&
            blockCount > appliedPageSize &&
            (pageIndex !== 0 || transactions.length >= appliedPageSize)
        "
    >
        <app-paginator
            [maxElements]="blockCount"
            [showPageNumberOnly]="true"
            [pageSize]="appliedPageSize"
            [pageIndex]="pageIndex"
            [disableMove]="isLoading"
            [enableFastForward]="!hasFiltersApplied"
            (pageIndexChange)="changePage($event)"
        >
        </app-paginator>
        <mat-divider></mat-divider>
    </ng-container>
</ng-template>

<ng-template #filters>
    <mat-accordion class="mat-elevation-z0">
        <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon style="margin-right: 12px">tune</mat-icon>
                    Transaction Filters
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div style="margin: 16px 0">
                <div style="margin-bottom: 8px">Use the knobs below to filter your transaction history.</div>

                <div style="display: flex; justify-content: space-between; align-items: center">
                    <mat-chip-list multiple style="display: flex; justify-content: space-between">
                        <mat-chip
                            variant="outline"
                            color="primary"
                            (click)="filterData.includeReceive = !filterData.includeReceive"
                            [selected]="filterData.includeReceive"
                        >
                            <mat-icon matChipAvatar style="font-size: 16px">download</mat-icon>
                            Received
                        </mat-chip>
                        <mat-chip
                            variant="outline"
                            color="primary"
                            (click)="filterData.includeSend = !filterData.includeSend"
                            [selected]="filterData.includeSend"
                        >
                            <mat-icon matChipAvatar style="font-size: 16px">upload</mat-icon>
                            Sent
                        </mat-chip>
                        <mat-chip
                            variant="outline"
                            color="primary"
                            (click)="filterData.includeChange = !filterData.includeChange"
                            [selected]="filterData.includeChange"
                        >
                            <mat-icon matChipAvatar style="font-size: 16px">how_to_vote</mat-icon>
                            Change
                        </mat-chip>
                    </mat-chip-list>
                    <div>
                        <mat-form-field
                            blui-input
                            style="width: 200px; margin-top: 24px; margin-right: 16px"
                            appearance="fill"
                        >
                            <mat-label>Min BAN</mat-label>
                            <input matInput type="number" [(ngModel)]="filterData.minAmount" />
                        </mat-form-field>
                        <mat-form-field blui-input style="width: 200px" appearance="fill">
                            <mat-label>Max BAN</mat-label>
                            <input matInput type="number" [(ngModel)]="filterData.maxAmount" />
                        </mat-form-field>
                    </div>
                </div>

                <div style="display: flex; justify-content: space-between; align-items: center">
                    <div>
                        <div class="mat-subheading-2">Page Size ({{ pageSize }})</div>
                        <mat-slider
                            color="accent"
                            style="width: 300px; margin-right: 24px"
                            thumbLabel
                            min="1"
                            max="500"
                            step="1"
                            value="50"
                            [(ngModel)]="pageSize"
                        ></mat-slider>
                    </div>
                    <mat-form-field style="width: 60%" appearance="fill">
                        <mat-label>Filter Addresses</mat-label>
                        <textarea
                            matInput
                            type="text"
                            [(ngModel)]="filterData.filterAddresses"
                            placeholder="address1, address2, etc"
                        ></textarea>
                    </mat-form-field>
                </div>

                <button
                    style="width: 150px"
                    mat-flat-button
                    color="primary"
                    (click)="applyFilters()"
                    [disabled]="isLoading"
                >
                    Apply
                </button>

                <button style="width: 150px; margin-left: 24px" (click)="resetFilters()" mat-stroked-button>
                    Reset
                </button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</ng-template>

<ng-container *ngIf="transactions.length !== 0">
    <ng-template [ngTemplateOutlet]="transactionPaginator"></ng-template>
    <ng-template [ngTemplateOutlet]="filters"></ng-template>
    <mat-divider></mat-divider>
</ng-container>

<div class="brpd-tab-transaction-list">
    <div *ngFor="let tx of transactions; trackBy: trackByFn; let last = last">
        <div style="display: flex; align-items: center">
            <img
                [src]="apiService.createMonKeyUrl(tx.address || tx.newRepresentative)"
                loading="lazy"
                style="height: 50px; width: 50px; margin-right: 12px"
            />
            <div
                *ngIf="tx.height"
                [routerLink]="'/' + navItems.hash.route + '/' + tx.hash"
                class="link"
                style="font-family: monospace; margin-right: 24px"
            >
                <span style="margin-right: 0px" style="font-size: 14px">#</span>{{ util.numberWithCommas(tx.height) }}
            </div>

            <blui-list-item-tag
                style="margin-right: 24px; width: 60px; text-align: center"
                [label]="tx.type || 'receive'"
                class="type"
                [class]="txService.createTagClass(tx, isPending)"
            ></blui-list-item-tag>

            <div class="amount"
                 [class.primary]="tx.type === 'receive'"
                 [class.warn]="tx.type === 'send'"
                 style="width: 200px">
                <ng-container *ngIf="tx.type !== 'change'">
                    {{ tx.type === 'receive' || isPending ? '+' : '-' }}
                    {{ formatNumber(tx.amount) }}
                    BAN
                </ng-container>
            </div>
            <div (mouseenter)="tx.hover = true" (mouseleave)="tx.hover = false" style="margin-right: 24px">
                <button
                    mat-icon-button
                    *ngIf="tx.hover"
                    (click)="copy(tx)"
                    style="cursor: pointer; height: 24px; width: 24px; margin-right: 4px; line-height: 24px"
                >
                    <mat-icon style="font-size: 16px">
                        {{ tx.showCopiedIcon ? 'check_circle' : 'copy_all' }}
                    </mat-icon>
                </button>
                <a
                    style="font-family: monospace"
                    class="link text"
                    [routerLink]="'/' + navItems.account.route + '/' + (tx.address || tx.newRepresentative)"
                    >{{ util.shortenAddress(tx.address || tx.newRepresentative) }}
                </a>
            </div>

            <img *ngIf="aliasService.getSocialMedia(tx.address || tx.newRepresentative) === 'twitter'" src="assets/social-media/twitter.svg" class="social-media-icon" />
            <img *ngIf="aliasService.getSocialMedia(tx.address || tx.newRepresentative) === 'discord'" src="assets/social-media/discord.svg"  class="social-media-icon"  />
            <img *ngIf="aliasService.getSocialMedia(tx.address || tx.newRepresentative) === 'telegram'" src="assets/social-media/telegram.svg"  class="social-media-icon"  />
            <a
                style="font-weight: 600; font-size: 14px"
                class="link text primary"
                *ngIf="hasNickname(tx.address || tx.newRepresentative)"
                [routerLink]="'/' + navItems.account.route + '/' + (tx.address || tx.newRepresentative)"
                >{{ aliasService.getAlias(tx.address || tx.newRepresentative) }}
            </a>
            <blui-spacer></blui-spacer>
            <div style="margin-right: 8px">
                <div style="display: flex; flex-direction: column">
                    <span class="mat-body-2" style="margin-bottom: -4px">{{ dateMap.get(tx.hash).date }}</span>
                    <span
                        class="mat-body-2 text-secondary"
                        (mouseenter)="tx.timestampHovered = true"
                        (mouseleave)="tx.timestampHovered = false"
                    >
                        <ng-container *ngIf="!tx.timestampHovered">
                            {{ dateMap.get(tx.hash).relativeTime }}
                        </ng-container>
                        <ng-container *ngIf="tx.timestampHovered">
                            {{ txService.getTime(tx.timestamp) }}
                        </ng-container>
                    </span>
                </div>
            </div>
        </div>
        <mat-divider *ngIf="!last"></mat-divider>
    </div>
    <ng-template [ngTemplateOutlet]="transactionPaginator"></ng-template>
</div>

<div *ngIf="isLoading" class="mat-headline mat-secondary" style="padding: 32px">Loading</div>
<div *ngIf="!isLoading && transactions.length === 0" class="tab-empty-state">
    <blui-empty-state
        responsive
        class="account-empty-state"
        [title]="txService.getEmptyStateTitle(isPending)"
        [description]="txService.getEmptyStateDescription(isPending)"
    >
        <mat-icon blui-empty-icon>paid</mat-icon>
    </blui-empty-state>
</div>
