.account-delegator-weight {
    height: 64px;
    display: flex;
    width: 100%;
    align-items: center;
    font-weight: 600;

    .account-delegator-weight-sum {
        margin-left: 28px;
        margin-right: 8px;
        font-size: 16px;
    }

    .account-delegator-weight-sum-description {
        font-size: 16px;
    }
}

.delegators-table.sm {
    border-top-right-radius: 0!important;
    border-top-left-radius: 0!important;
}

.delegators-address-cell {
    padding-top: 8px;
    padding-bottom: 8px;
}
.sm .delegators-address-cell {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}
