.account-delegator-weight {
    height: 64px;
    display: flex;
    width: 100%;
    align-items: center;

    .account-delegator-weight-sum {
        margin-left: 28px;
        font-size: 18px;
        font-weight: 600;
        margin-right: 8px;
        &.sm {
            font-size: 16px;
        }
    }

    .account-delegator-weight-sum-description {
        font-weight: 400;
        font-size: 16px;
        &.sm {
            font-size: 14px;
        }
    }
}



.delegators-address-cell {
    padding-top: 8px;
    padding-bottom: 8px;
}
.sm .delegators-address-cell {
    padding-top: 16px!important;
    padding-bottom: 16px!important;
}
