<ng-template #titleContent>
    <div class="app-page-title">
        <ng-container *ngIf="!loading">Representatives</ng-container>
        <ng-container *ngIf="loading">Loading</ng-container>
    </div>
    <div class="app-page-subtitle">
        Representatives process transactions on the BANANO network. See all representatives below.
    </div>
</ng-template>

<ng-template #bodyContent>
    <div class="app-section-title">Weight Distribution</div>
    <div class="app-section-subtitle">Online voting weight allocation between the largest representatives.</div>
    <div class="representatives-chart-container" responsive>
        <div class="representatives-chart" responsive>
            <highcharts-chart
                [update]="true"
                [Highcharts]="Highcharts"
                [options]="repsChart"
                style="pointer-events: none"
                [style.width.px]="vp.sm ? 350 : vp.md ? 650 : 800"
                [style.height.px]="vp.sm ? 270 : vp.md ? 300 : 350"
            ></highcharts-chart>
        </div>
        <div class="representatives-legend">
            <div
                *ngFor="let rep of chartShownReps; let i = index; let last = last"
                class="representatives-legend-entry"
                [style.fontSize.px]="vp.sm ? 12 : 15"
            >
                <div class="representatives-legend-color" [style.backgroundColor]="pieChartColors[i]"></div>
                <div class="link" [class.representatives-legend-others]="last" (click)="routeRepAddress(rep.address)">
                    <ng-container *ngIf="aliasService.has(rep.address)">
                        {{ aliasService.get(rep.address) }}
                    </ng-container>
                    <ng-container *ngIf="!aliasService.has(rep.address)">
                        {{ rep.name }}
                    </ng-container>
                </div>
            </div>
        </div>
    </div>

    <div class="app-section-title" [style.marginTop.px]="56">
        Monitored Representatives <span class="app-caption">({{ monitoredReps.length }})</span>
    </div>
    <div class="app-section-subtitle">
        Online representatives that use the
        <a class="link primary" href="https://github.com/NanoTools/nanoNodeMonitor" target="_blank"
            >Nano Node Monitor</a
        >
        software are shown in the list below.
    </div>
    <ng-template *ngIf="!vp.sm" [ngTemplateOutlet]="monitoredRepTable"></ng-template>
    <ng-template *ngIf="vp.sm" [ngTemplateOutlet]="monitoredRepList"></ng-template>
    <div class="app-section-title" [style.marginTop.px]="72">
        All Representatives
        <span class="app-caption">({{ onlineRepsCount }} of {{ unfilteredAllReps.length }} online)</span>
    </div>
    <div class="app-section-subtitle">
        List of representatives with at least 100,000 BANANO weight delegated towards them.
    </div>
    <mat-slide-toggle
        color="primary"
        class="app-section-subtitle"
        [(ngModel)]="showOfflineRepsFilter"
        (change)="updateAllRepsList()"
    >
        Show offline representatives
    </mat-slide-toggle>
    <ng-template *ngIf="!vp.sm" [ngTemplateOutlet]="allRepsTable"></ng-template>
    <ng-template *ngIf="vp.sm" [ngTemplateOutlet]="allRepsList"></ng-template>
</ng-template>

<ng-template #monitoredRepTable>
    <table
        mat-table
        [hidden]="vp.sm"
        responsive
        [dataSource]="monitoredRepsDataSource"
        #sortMonitored="matSort"
        matSort
        class="mat-elevation-z4 monitored-reps-table"
    >
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Representative</th>
            <td
                class="representatives-name-cell"
                mat-cell
                *matCellDef="let element"
                style="padding-top: 8px; padding-bottom: 8px"
            >
                <span class="link primary" style="font-weight: 600" (click)="openMonitoredRep(element.ip)">
                    {{ element.name }}
                </span>
                <br />
                <div
                    class="link monitored-reps-table-address"
                    (click)="routeRepAddress(element.address)"
                    style="padding-right: 24px; margin-top: -4px; word-break: break-word"
                    [style.fontSize.px]="vp.md ? 13 : 14"
                >
                    {{ element.address }}
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="version">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Version</th>
            <td class="representatives-weight-cell" mat-cell *matCellDef="let element">
                {{ formatVersion(element.version) }}
            </td>
        </ng-container>

        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Weight (BAN)</th>
            <td class="representatives-weight-cell" mat-cell *matCellDef="let element">
                {{ formatBanWeight(element.weight) }}
                <br />
                <span class="representatives-weight-percentage" responsive
                    >({{ formatWeightPercent(element.weight) }})</span
                >
            </td>
        </ng-container>

        <ng-container matColumnDef="delegatorsCount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Delegators</th>
            <td mat-cell *matCellDef="let element">{{ numberWithCommas(element.delegatorsCount) }}</td>
        </ng-container>

        <ng-container matColumnDef="peers">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Peers</th>
            <td mat-cell *matCellDef="let element">{{ numberWithCommas(element.peers) }}</td>
        </ng-container>

        <ng-container matColumnDef="uncheckedBlocks">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Unchecked<br />Blocks</th>
            <td mat-cell *matCellDef="let element" [class.unchecked-blocks]="element.uncheckedBlocks">
                {{ numberWithCommas(element.uncheckedBlocks) }}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="monitoredRepDisplayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: monitoredRepDisplayColumns"></tr>
    </table>
</ng-template>

<ng-template #monitoredRepList>
    <mat-card style="padding: 0 12px">
        <mat-list [style.paddingTop.px]="0" *ngIf="vp.sm" class="representatives-monitored-list">
            <mat-divider></mat-divider>
            <pxb-info-list-item
                *ngFor="let rep of monitoredReps; trackBy: trackByFn"
                [hidePadding]="true"
                [dense]="false"
                [divider]="true"
            >
                <div pxb-title>
                    <span class="link primary" (click)="openMonitoredRep(rep.ip)">{{ rep.name }}</span>
                </div>
                <div pxb-subtitle style="font-size: 0.875rem">{{ formatInfoLine(rep) }}</div>
                <div pxb-info style="font-size: 0.875rem" (click)="routeRepAddress(rep.address)">
                    {{ formatListAddress(rep.address) }}
                </div>
                <div pxb-right-content style="display: flex; flex-direction: column; align-items: flex-end">
                    <div style="font-size: 14px">{{ formatBanWeight(rep.weight) }} BAN</div>
                    <div style="font-size: 12px">{{ formatWeightPercent(rep.weight) }} weight</div>
                </div>
            </pxb-info-list-item>
        </mat-list>
    </mat-card>
</ng-template>

<ng-template #allRepsTable>
    <table
        mat-table
        [hidden]="vp.sm"
        responsive
        [dataSource]="allRepsDataSource"
        #sortAll="matSort"
        matSort
        class="mat-elevation-z4 all-reps-table"
    >
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let i = index" style="padding-right: 12px">#{{ i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Representative</th>
            <td mat-cell *matCellDef="let element" style="padding-top: 12px; padding-bottom: 12px">
                <div style="display: flex; flex-direction: column; justify-content: center">
                    <div
                        class="representatives-table-alias primary"
                        style="display: flex; align-items: center"
                        [style.height.px]="element.principal || aliasService.get(element.address) ? 24 : 0"
                    >
                        <pxb-list-item-tag
                            *ngIf="element.principal"
                            class="principal-tag"
                            label="Principal"
                            style="margin-right: 12px"
                        ></pxb-list-item-tag>
                        {{ aliasService.get(element.address) }}
                    </div>
                    <div
                        class="link"
                        [class.table-address]="aliasService.has(element.address)"
                        (click)="routeRepAddress(element.address)"
                        style="padding-right: 24px; margin-top: -4px; word-break: break-word"
                        [style.fontSize.px]="vp.md ? 13 : 14"
                    >
                        {{ element.address }}
                    </div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Weight (BAN)</th>
            <td class="representatives-weight-cell" mat-cell *matCellDef="let element">
                {{ formatBanWeight(element.weight) }}
                <ng-container *ngIf="vp.md"><br /></ng-container>
                <span class="representatives-weight-percentage" responsive style="margin-left: 4px">
                    ({{ formatWeightPercent(element.weight) }})
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="delegatorsCount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Delegators</th>
            <td mat-cell *matCellDef="let element">{{ numberWithCommas(element.delegatorsCount) }}</td>
        </ng-container>

        <ng-container matColumnDef="uptimePercentMonth">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <div style="text-align: left">
                    Online %
                    <br />
                    <div style="font-size: 10px; margin-top: -4px">month · week · day</div>
                </div>
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.uptimePercentMonth }}%
                <ng-container *ngIf="!vp.md">· </ng-container>
                <ng-container *ngIf="vp.md"><br /></ng-container>
                <span style="font-size: 11px">{{ element.uptimePercentWeek }}% · {{ element.uptimePercentDay }}% </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="online">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td
                mat-cell
                class="representatives-online-cell"
                *matCellDef="let element"
                [style.color.red]="!element.online"
            >
                <mat-icon style="font-size: 24px">{{ element.online ? 'check_circle' : 'error' }}</mat-icon>
                <!--{{ element.online ? 'Online' : 'Offline' }}-->
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="allRepsDisplayColumns"></tr>
        <tr
            mat-row
            style="height: 64px"
            *matRowDef="let row; columns: allRepsDisplayColumns"
            [class.online]="row.online"
            [class.offline]="!row.online"
        ></tr>
    </table>
</ng-template>

<ng-template #allRepsList>
    <mat-card
        style="padding: 12px 12px; margin-bottom: 8px"
        *ngFor="let rep of filteredAllReps; let i = index; trackBy: trackByFn"
        class="representatives-all-reps-card mat-elevation-z0"
    >
        <div style="align-items: center; display: flex; margin-bottom: 8px">
            <span [style.fontSize.px]="16" style="margin-right: 16px; font-weight: 600"> #{{ i + 1 }}</span>
            <pxb-list-item-tag *ngIf="rep.principal" label="Principal" class="principal-tag"></pxb-list-item-tag>
            <pxb-spacer></pxb-spacer>
            <span
                class="mat-overline"
                style="font-size: 11px; display: flex; align-items: center"
                [class.online]="rep.online"
                [class.offline]="!rep.online"
            >
                <span style="margin-right: 12px">{{ rep.online ? '' : 'Offline' }}</span>
                <mat-icon style="font-size: 24px">{{ rep.online ? 'check_circle' : 'error' }}</mat-icon>
            </span>
        </div>

        <span
            *ngIf="aliasService.has(rep.address)"
            class="primary"
            style="font-size: 14px; font-weight: 600"
            (click)="routeRepAddress(rep.address)"
        >
            {{ aliasService.get(rep.address) }}
        </span>
        <div style="font-size: 14px; word-break: break-all; margin-bottom: 8px" (click)="routeRepAddress(rep.address)">
            {{ rep.address }}
        </div>
        <mat-divider></mat-divider>
        <div style="display: flex; justify-content: space-between; font-size: 12px; padding-top: 12px">
            <div>
                <div>{{ numberWithCommas(rep.delegatorsCount) }} Delegators</div>
                <div>
                    {{ rep.uptimePercentMonth }}% /
                    <span style="font-size: 10px"> {{ rep.uptimePercentWeek }}% / {{ rep.uptimePercentDay }}% </span>
                    Uptime
                    <span style="font-size: 10px">(m/w/d)</span>
                </div>
            </div>
            <div>
                <div>{{ formatBanWeight(rep.weight) }} BAN</div>
                <div>{{ formatWeightPercent(rep.weight) }} weight</div>
            </div>
        </div>
    </mat-card>
</ng-template>

<div class="app-page-root" responsive>
    <div class="app-page-content">
        <app-error *ngIf="error"></app-error>
        <ng-container *ngIf="!error">
            <ng-template [ngTemplateOutlet]="titleContent"></ng-template>
            <ng-template *ngIf="!loading" [ngTemplateOutlet]="bodyContent"></ng-template>
        </ng-container>
    </div>
</div>
