@mixin representatives-theme(
    $online-color,
    $offline-color,
    $rep-card-border-color,
    $monitored-reps-table-address-color,
    $principalTag
) {
    .principal-tag {
        @include principalTag();
    }
    .monitored-reps-table-address {
        color: $monitored-reps-table-address-color !important;
    }
    .monitored-reps-table .unchecked-blocks {
        color: $offline-color;
    }
    .representatives-all-reps-card {
        border: solid 1px $rep-card-border-color;
        .online {
            color: $online-color !important;
        }
        .offline {
            color: $offline-color !important;
        }
    }
    .rep-mobile-list-container {
        border: solid 1px $rep-card-border-color;
    }
    .monitored-reps-table {
        thead th:nth-child(1),
        tr td:nth-child(1) {
            border-right: solid 1px;
            border-color: $rep-card-border-color;
        }
    }
}

// Override for this page
.app-page-content.representatives {
    max-width: 1700px!important;
}
