.expanded .monitored-reps-table {
    max-height: calc(100vh - 64px);
    position: fixed;
    top: 64px;
    left: 0;
    z-index: 998;
}

.monitored-table-edit-button {
    &.button-1 {
        margin-right: 16px;
    }
    &.expanded {
        position: fixed;
        z-index: 999;
        &.button-1 {
            bottom: 24px;
            right: 32px;
        }
        &.button-2 {
            bottom: 24px;
            right: 108px;
        }
    }
}

@mixin representatives-theme(
    $online-color,
    $offline-color,
    $rep-card-border-color,
    $monitored-reps-table-address-color,
    $principalTag
) {
    .monitored-reps-table-address {
        color: $monitored-reps-table-address-color !important;
    }
    .monitored-reps-table .unchecked-blocks {
        color: $offline-color;
    }
    .representatives-all-reps-card {
        border: solid 1px $rep-card-border-color;

        .online {
            color: $online-color !important;
        }

        .offline {
            color: $offline-color !important;
        }
    }
    .rep-mobile-list-container {
        border: solid 1px $rep-card-border-color;
    }
    .monitored-reps-table {
        thead th:nth-child(1),
        tr td:nth-child(1) {
            border-right: solid 1px;
            border-color: $rep-card-border-color;
        }
    }
}
