@import '~@pxblue/colors/palette';
@import '~@pxblue/colors-branding/palette';

:host {
    display: flex;
    flex: 1;
}

.representatives-title {
    display: flex;
    width: 100%;
    text-align: left;
}

.representatives-subtitle {
    display: flex;
    width: 100%;
    text-align: left;
}

.representatives-root {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    // TODO: move these paddings to a global style, shared
    padding: 64px 64px 64px 64px;
    &.md {
        //  padding: 48px 48px 48px 48px; NOT GRID!
    }
    &.sm {
        padding: 48px 0px 48px 0px;
        .representatives-section-header-info {
            padding: 0 20px 4px 20px;
            box-sizing: border-box;
        }
        .mat-list-item-content {
            padding-left: 20px !important;
            padding-right: 20px !important;
        }
    }
}
.representatives-content {
    width: 100%;
    max-width: 1200px;
}

.representatives-chart-container {
    display: flex;
    align-items: center;
    &.md {
        justify-content: center;
        flex-direction: column;
        .representatives-legend {
            margin-top: 24px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}
.representatives-chart {
    margin: 0;
    margin-top: 24px;
    display: flex;
    justify-content: left;
    margin-right: -24px;
    &.md,
    &.sm {
        margin-right: 0px;
        margin-top: 0;
        justify-content: center;
    }
}

.representatives-legend {
    .representatives-legend-entry {
        width: 155px;
        padding: 4px 0px;
        display: flex;
        align-items: center;
    }
    .representatives-legend-color {
        width: 12px;
        height: 12px;
        border-radius: 100%;
        margin-right: 16px;
    }
    .representatives-legend-others {
        pointer-events: none;
    }
}

.representatives-monitored-header {
    margin-top: 56px;
}
.representatives-monitored-subtitle {
    margin-bottom: 16px !important;
}

.representatives-all-header {
    margin-top: 72px;
}
.representatives-all-subtitle {
    margin-bottom: 16px !important;
}

.representatives-monitored-list,
.representatives-all-list {
    .pxb-info-list-item-content .mat-list-item-content {
        min-height: 5rem !important;
    }

    .mat-list-item-content {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.representatives-monitored-list {
    width: 100%;
}

.representatives-name-cell {
    font-weight: 600;
    word-break: break-word;
}
.representatives-address-cell {
    word-break: break-all;
    padding: 4px 16px 4px 16px !important;
}
.representatives-weight-cell {
    padding: 4px 8px 4px 0px !important;
    .representatives-weight-percentage {
        font-size: 12px !important;
        &.md {
            font-size: 11px !important;
        }
    }
}

.representatives-clickable-cell {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.monitored-reps-table,
.all-reps-table {
    width: 100%;
    * {
        font-size: 15px;
    }
    &.md * {
        font-size: 13px;
    }
    th.mat-header-cell:last-of-type,
    td.mat-cell:last-of-type,
    td.mat-footer-cell:last-of-type {
        padding-right: 0 !important;
    }
}

th.mat-sort-header-sorted {
    color: black;
}

@mixin representatives-theme($online-color, $offline-color, $list-bg-color) {
    .representatives-name-cell {
        color: $online-color !important;
    }
    .monitored-reps-table .unchecked-blocks {
        color: $offline-color;
    }
    .all-reps-table {
        .offline .representatives-online-cell {
            color: $offline-color;
        }
        .online .representatives-online-cell {
            color: $online-color;
        }
    }
    .representatives-all-list {
        .online {
            color: $online-color !important;
        }
        .offline {
            color: $offline-color !important;
        }
    }
    .representatives-all-list,
    .representatives-monitored-list {
        //  background-color: $list-bg-color;
    }
}
