<ng-template #titleContent>
    <div class="app-page-title">
        <ng-container *ngIf="!loading">Representatives</ng-container>
        <ng-container *ngIf="loading">Loading</ng-container>
    </div>
    <div class="app-page-subtitle">
        Representatives process transactions on the BANANO network. See all representatives below.
    </div>
</ng-template>

<ng-template #bodyContent>
    <div class="app-section-title">Weight Distribution</div>
    <div class="app-section-subtitle">Online voting weight allocation between the largest representatives.</div>
    <app-weight-chart [onlineWeight]="onlineWeight" [largeReps]="allLargeReps"></app-weight-chart>
    <div class="app-section-title" [style.marginTop.px]="56">
        Monitored Representatives <span class="app-caption">({{ monitoredReps.length }})</span>
    </div>
    <div class="app-section-subtitle">
        Online representatives that use the
        <a class="link primary" href="https://github.com/NanoTools/nanoNodeMonitor" target="_blank"
            >Nano Node Monitor</a
        >
        software are shown in the list below.
    </div>
    <app-monitored-rep-table
        *ngIf="!vp.sm"
        [monitoredReps]="monitoredReps"
        [onlineWeight]="onlineWeight"
    ></app-monitored-rep-table>
    <app-monitored-rep-list
        *ngIf="vp.sm"
        [monitoredReps]="monitoredReps"
        [onlineWeight]="onlineWeight"
    ></app-monitored-rep-list>
    <div class="app-section-title" [style.marginTop.px]="72">
        Large Representatives
        <span class="app-caption">({{ onlineLargeRepsCount }} of {{ allLargeReps.length }} online)</span>
    </div>
    <div class="app-section-subtitle">
        List of representatives with at least 100,000 BANANO weight delegated towards them.
    </div>
    <mat-slide-toggle
        color="primary"
        class="app-section-subtitle"
        [(ngModel)]="showOfflineRepsFilter"
        (change)="filterLargeRepsByStatus()"
    >
        Show offline representatives
    </mat-slide-toggle>
    <app-large-rep-table
        *ngIf="!vp.sm"
        [onlineWeight]="onlineWeight"
        [shownReps]="shownLargeReps"
    ></app-large-rep-table>
    <app-large-rep-cards *ngIf="vp.sm" [onlineWeight]="onlineWeight" [shownReps]="shownLargeReps"></app-large-rep-cards>

    <div class="app-section-title" [style.marginTop.px]="72">
        Micro Representatives
        <span class="app-caption">({{ onlineMicroRepsCount }})</span>
    </div>
    <div class="app-section-subtitle">
        Online representatives with less than 100,000 BANANO weight delegated towards them.
    </div>
    <app-micro-rep-list [onlineWeight]="onlineWeight" [microReps]="microReps"></app-micro-rep-list>
</ng-template>

<div class="app-page-root" responsive>
    <div class="app-page-content">
        <app-error *ngIf="error"></app-error>
        <ng-container *ngIf="!error">
            <ng-template [ngTemplateOutlet]="titleContent"></ng-template>
            <ng-template *ngIf="!loading" [ngTemplateOutlet]="bodyContent"></ng-template>
        </ng-container>
    </div>
</div>

<app-wave [waveNumber]="5"></app-wave>
