:host {
    display: flex;
    flex: 1;
}

.monitored-reps-table {
    height: 400px;
    * {
        font-size: 14px;
    }
}

.monitored-reps-table {
    .representatives-address-cell * {
        font-size: 14px;
    }
    display: block;
    max-height: 60vh;
    height: 100%;
    width: calc(100% - 1px);
    max-width: 100%;
    overflow: auto !important;

    thead th:nth-child(2) {
        padding-left: 16px;
    }
    tr td:nth-child(2) {
        padding-left: 16px;
    }
}
