<div class="insights-root" *ngIf="insights" responsive>
    <mat-card class="mat-elevation-z0 divider-border flat-top" style="border-top-left-radius: 0">
        <div class="app-section-title" style="margin-top: 32px">Account Balance Over Time</div>
        <div class="app-section-subtitle" style="margin-bottom: -16px">
            {{ getGraphSubtitle() }}
        </div>

        <figure responsive class="insights-chart">
            <div id="container"></div>
        </figure>
    </mat-card>

    <div class="insights-account-stats-container" responsive>
        <mat-card class="mat-elevation-z0 divider-border" [style.marginRight.px]="vp.md || vp.sm ? 0 : 8">
            <ng-template [ngTemplateOutlet]="received"></ng-template>
        </mat-card>
        <mat-card class="mat-elevation-z0 divider-border" [style.marginLeft.px]="vp.md || vp.sm ? 0 : 8">
            <ng-template [ngTemplateOutlet]="sent"></ng-template>
        </mat-card>
    </div>
</div>

<mat-card
    class="tab-empty-state mat-elevation-z0 divider-border flat-top"
    *ngIf="isLoadingInsights"
    style="border-top-left-radius: 0"
>
    <blui-empty-state
        responsive
        class="account-empty-state"
        title="Loading"
        description="One second, counting them 'nanners.  Larger accounts will take longer."
    >
        <div blui-empty-icon>
            <mat-spinner
                *ngIf="isLoadingInsightsWebsocket"
                [value]="(blocksLoaded / blockCount) * 100"
                mode="determinate"
            ></mat-spinner>
            <mat-icon *ngIf="!isLoadingInsightsWebsocket" style="height: 100%; width: 100%; font-size: 96px">
                pending
            </mat-icon>
        </div>
    </blui-empty-state>
</mat-card>

<mat-card
    class="tab-empty-state mat-elevation-z0 divider-border flat-top"
    *ngIf="hasError"
    style="border-top-left-radius: 0"
>
    <app-error></app-error>
</mat-card>

<mat-card
    responsive
    class="tab-empty-state mat-elevation-z0 divider-border"
    *ngIf="!insights && !isLoadingInsights && !hasError"
    style="border-top-left-radius: 0"
>
    <blui-empty-state responsive class="account-empty-state" title="No Insights" [description]="getErrorDescription()">
        <mat-icon blui-empty-icon>disc_full</mat-icon>
    </blui-empty-state>
</mat-card>

<ng-template #sent>
    <div class="warn section-title">Sent Statistics</div>
    <mat-divider></mat-divider>
    <mat-list [style.paddingTop.px]="0">
        <blui-info-list-item [wrapSubtitle]="true" divider="full" [hidePadding]="true">
            <div blui-title>Total BAN Sent</div>
            <div blui-subtitle class="text-secondary">{{ insights.totalAmountSent | appComma }} BAN</div>
        </blui-info-list-item>
        <blui-info-list-item [wrapSubtitle]="true" divider="full" [hidePadding]="true">
            <div blui-title>Largest Transaction Sent</div>
            <div blui-subtitle class="text-secondary">
                <ng-container *ngIf="insights.maxAmountSentHash">
                    {{ insights.maxAmountSent | appComma }} BAN
                </ng-container>
                <ng-container *ngIf="!insights.maxAmountSentHash"> N/A </ng-container>
            </div>
            <a
                *ngIf="insights.maxAmountSentHash"
                blui-right-content
                class="link mono text-hint"
                [routerLink]="'/' + navItems.hash.route + '/' + insights.maxAmountSentHash"
            >
                hash
            </a>
        </blui-info-list-item>

        <blui-info-list-item [wrapSubtitle]="true" divider="full" [hidePadding]="true">
            <div blui-title>No. Transactions Sent</div>
            <div blui-subtitle class="text-secondary">{{ insights.totalTxSent | appComma }}</div>
        </blui-info-list-item>

        <blui-info-list-item [wrapSubtitle]="true" divider="full" [hidePadding]="true">
            <div blui-title>First-Sent Date</div>
            <div blui-subtitle class="text-secondary">{{ formatDate(insights.firstOutTxUnixTimestamp) }}</div>
            <a
                *ngIf="insights.firstOutTxUnixTimestamp"
                blui-right-content
                class="link mono text-hint"
                [routerLink]="'/' + navItems.hash.route + '/' + insights.firstOutTxHash"
            >
                hash
            </a>
        </blui-info-list-item>

        <blui-info-list-item [wrapSubtitle]="true" divider="full" [hidePadding]="true">
            <div blui-title>Last-Sent Date</div>
            <div blui-subtitle class="text-secondary">{{ formatDate(insights.lastOutTxUnixTimestamp) }}</div>
            <a
                *ngIf="insights.lastOutTxUnixTimestamp"
                blui-right-content
                class="link mono text-hint"
                [routerLink]="'/' + navItems.hash.route + '/' + insights.lastOutTxHash"
            >
                hash
            </a>
        </blui-info-list-item>
        <blui-info-list-item [wrapSubtitle]="true" [hidePadding]="true">
            <div blui-title>Most Common Recipient</div>
            <div blui-subtitle class="text-secondary">
                <div *ngIf="insights.mostCommonRecipientAddress">
                    Sent BAN
                    <strong style="margin: 0 4px"> {{ insights.mostCommonRecipientTxCount }} </strong> times to
                    recipient.
                </div>
                <div *ngIf="!insights.mostCommonRecipientAddress">This account has never sent any BAN.</div>
            </div>
            <a
                blui-info
                *ngIf="vp.sm && insights.mostCommonRecipientAddress"
                class="link text-secondary mono"
                [routerLink]="'/' + navItems.account.route + '/' + insights.mostCommonRecipientAddress"
            >
                {{ shortenAddr(insights.mostCommonRecipientAddress) }}
            </a>
            <a
                blui-right-content
                *ngIf="!vp.sm && insights.mostCommonRecipientAddress"
                class="link text-hint mono"
                [routerLink]="'/' + navItems.account.route + '/' + insights.mostCommonRecipientAddress"
            >
                {{ shortenAddr(insights.mostCommonRecipientAddress) }}
            </a>
        </blui-info-list-item>
    </mat-list>
</ng-template>

<ng-template #received>
    <div class="primary section-title">Received Statistics</div>
    <mat-divider></mat-divider>
    <mat-list [style.paddingTop.px]="0">
        <blui-info-list-item [wrapSubtitle]="true" divider="full" [hidePadding]="true">
            <div blui-title>Total BAN Received</div>
            <div blui-subtitle class="text-secondary">{{ insights.totalAmountReceived | appComma }} BAN</div>
        </blui-info-list-item>
        <blui-info-list-item [wrapSubtitle]="true" divider="full" [hidePadding]="true">
            <div blui-title>Largest Transaction Received</div>
            <div blui-subtitle class="text-secondary">{{ insights.maxAmountReceived | appComma }} BAN</div>
            <a
                blui-right-content
                class="link mono text-hint"
                [routerLink]="'/' + navItems.hash.route + '/' + insights.maxAmountReceivedHash"
            >
                hash
            </a>
        </blui-info-list-item>

        <blui-info-list-item [wrapSubtitle]="true" divider="full" [hidePadding]="true">
            <div blui-title>No. Transactions Received</div>
            <div blui-subtitle class="text-secondary">{{ insights.totalTxReceived | appComma }}</div>
        </blui-info-list-item>

        <blui-info-list-item [wrapSubtitle]="true" divider="full" [hidePadding]="true">
            <div blui-title>First-Received Date</div>
            <div blui-subtitle class="text-secondary">{{ formatDate(insights.firstInTxUnixTimestamp) }}</div>
            <a
                blui-right-content
                class="link mono text-hint"
                [routerLink]="'/' + navItems.hash.route + '/' + insights.firstInTxHash"
            >
                hash
            </a>
        </blui-info-list-item>
        <blui-info-list-item [wrapSubtitle]="true" divider="full" [hidePadding]="true">
            <div blui-title>Last-Received Date</div>
            <div blui-subtitle class="text-secondary">{{ formatDate(insights.lastInTxUnixTimestamp) }}</div>
            <a
                blui-right-content
                class="link mono text-hint"
                [routerLink]="'/' + navItems.hash.route + '/' + insights.lastInTxHash"
            >
                hash
            </a>
        </blui-info-list-item>

        <blui-info-list-item [wrapSubtitle]="true" divider="full" [hidePadding]="true">
            <div blui-title>Most Common Sender</div>
            <div blui-subtitle class="text-secondary">
                Received BAN
                <strong style="margin: 0 4px">{{ insights.mostCommonSenderTxCount }}</strong> times from sender.
            </div>
            <a
                blui-info
                *ngIf="vp.sm"
                class="link text-secondary mono"
                [routerLink]="'/' + navItems.account.route + '/' + insights.mostCommonSenderAddress"
            >
                {{ shortenAddr(insights.mostCommonSenderAddress) }}
            </a>
            <a
                blui-right-content
                *ngIf="!vp.sm"
                class="link text-hint mono"
                [routerLink]="'/' + navItems.account.route + '/' + insights.mostCommonSenderAddress"
            >
                {{ shortenAddr(insights.mostCommonSenderAddress) }}
            </a>
        </blui-info-list-item>
        <blui-info-list-item [wrapSubtitle]="true" [hidePadding]="true">
            <div blui-title>Account Max Balance</div>
            <div blui-subtitle class="text-secondary">{{ insights.maxBalance | appComma }} BAN</div>
            <a
                blui-right-content
                class="link mono text-hint"
                [routerLink]="'/' + navItems.hash.route + '/' + insights.maxBalanceHash"
            >
                hash
            </a>
        </blui-info-list-item>
    </mat-list>
</ng-template>
