.insights-root {
    padding: 32px 16px;
}
.insights-chart {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.sm {
    .insights-section {
        margin: 24px 12px;
    }
}
.insights-section {
    margin: 24px;
    word-break: break-word;
    div {
        display: flex;
        justify-content: left;
        align-items: center;
        flex-wrap: wrap;
    }
    .app-section-title {
        margin-right: 16px;
    }
    .app-section-subtitle {
        margin-bottom: 0;
    }
}
