.insights-root {
    padding: 32px 16px;
    &.md {
        padding-bottom: 0;
    }

    mat-card {
        padding-bottom: 0;
        padding-top: 0;
        margin-bottom: 16px;
    }
    .app-section-title,
    .app-section-subtitle {
        padding-left: 32px;
        &.md {
            padding-left: 0;
        }
    }
}
.insights-chart {
    margin-right: 16px;
    margin-left: 16px;
    &.sm {
        margin-left: 0;
        margin-right: 0;
    }
}

.node-monitor-section-title {
    padding-left: 16px;
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    font-weight: 600;
}

.insights-account-stats-container {
    mat-card {
        border-left: none !important;
        border-right: none !important;
        border-top: none !important;
    }
    display: flex;
    &.md {
        flex-direction: column;
        margin-left: -16px;
        margin-right: -16px;
    }
    mat-card {
        width: 100%;
        &:first-of-type {
            margin-right: 16px;
        }
        &:last-of-type {
            margin-left: 16px;
        }
    }

    &.md {
        mat-card {
            margin: 0;
            width: unset;
            margin-bottom: 16px;
        }
    }
    .blui-info-list-item-content .blui-info-list-item-title-wrapper {
        font-weight: 600 !important;
    }
}
