.insights-root {
    &.md {
        padding-bottom: 0;
    }

    mat-card {
        padding-bottom: 0;
        padding-top: 0;
        margin-bottom: 16px;
    }
    .app-section-title,
    .app-section-subtitle {
        padding-left: 32px;
        &.md {
            padding-left: 0;
        }
    }

    .insights-chart {
        margin-right: 16px;
        margin-left: 16px;
        &.sm {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .section-title {
        padding-left: 16px;
        font-size: 20px;
        height: 64px;
        line-height: 64px;
        font-weight: 400;
    }

    .insights-account-stats-container {
        display: flex;
        &.md {
            flex-direction: column;
            margin: 0;
        }
        &.sm {
            margin-left: -16px;
            margin-right: -16px;
        }
        mat-card {
            box-sizing: border-box;
            width: 100%;
        }
        .blui-info-list-item-content .blui-info-list-item-title-wrapper {
            font-size: 0.875rem !important;
            font-weight: 600 !important;
        }
        .blui-info-list-item-content .blui-info-list-item-subtitle-wrapper {
            font-size: 1rem !important;
        }
        .mat-list-item-content {
            height: 6rem !important;
        }
    }
}
