.app-user-menu {
    margin-right: -8px;
    .pxb-drawer-header-icon-wrapper {
        display: none !important;
    }
}
.cdk-overlay-pane {
    .pxb-drawer-header-title-wrapper {
        width: 100%;
    }
    .pxb-drawer-header-icon-wrapper {
        display: none !important;
    }
    .mat-toolbar.mat-toolbar-single-row {
        background-color: unset !important;
    }
}
