<ng-template #accountMonkey>
    <div *ngIf="monkeySvg" responsive class="account-monkey" [innerHTML]="monkeySvg | safe"></div>
</ng-template>

<ng-template #confirmedPaginator>
    <mat-paginator
        *ngIf="accountOverview.completedTxCount > 50"
        [length]="accountOverview.completedTxCount"
        [pageSize]="paginatorSize"
        [pageIndex]="confirmedTxPageIndex"
        [disabled]="loading"
        (page)="changePage($event)"
    >
    </mat-paginator>
</ng-template>

<div class="account-header" responsive>
    <div class="account-title">
        <div>
            <div [class.mat-display-2]="!vp.sm" [class.mat-display-1]="vp.sm" [style.marginBottom.px]="4">
                <span *ngIf="loading">Loading</span>
                <ng-container *ngIf="accountOverview?.delegatorsCount === 0">
                    <span *ngIf="accountOverview?.opened"> Account </span>
                    <span *ngIf="!accountOverview?.opened"> Unopened Account </span>
                </ng-container>
                <span *ngIf="accountOverview?.delegatorsCount > 0">Representative</span>
            </div>
            <div class="mat-subheading-2 account-address">
                {{ address }}
                <app-copy-button [data]="address"></app-copy-button>
                <app-bookmark-button [id]="address"></app-bookmark-button>
            </div>
            <div *ngIf="accountOverview?.opened"
                 class="account-representative"
                 [class.mat-caption]="vp.sm"
                 [class.mat-subheading-2]="!vp.sm" responsive>
                Represented by
                <span class="link" (click)="searchService.emitSearch(accountOverview.representative)" [style.marginLeft.px]="4">{{
                    shortenedRep
                }}</span>

                <span style="margin-left: 8px">
                    <pxb-list-item-tag
                            *ngIf="!accountOverview.isRepOnline"
                            class="account-rep-offline"
                            label="Offline"
                    ></pxb-list-item-tag>
                <pxb-list-item-tag
                        *ngIf="accountOverview.isRepOnline"
                        label="Online"
                ></pxb-list-item-tag>
                </span>

            </div>

            <div class="account-summary-tags" responsive *ngIf="accountOverview">
                <ng-template *ngIf="vp.sm" [ngTemplateOutlet]="accountMonkey"></ng-template>


                <div class="account-balance" [style.marginTop.px]="vp.sm ? 16 : 0">
                    <span [style.marginRight.px]="8">{{ confirmedBalance }} BAN</span>
                    ·
                    <span [style.marginRight.px]="8" [style.marginLeft.px]="8">{{ formatBtcPrice(accountOverview.balanceRaw) }}</span>
                    ·
                    <span [style.marginLeft.px]="8">{{ formatUsdPrice(accountOverview.balanceRaw) | currency }}</span>

                </div>
            </div>
        </div>
    </div>
    <div style="display: flex; align-items: center">
        <ng-template *ngIf="!vp.sm" [ngTemplateOutlet]="accountMonkey"></ng-template>
        <canvas id="qr-code" [style.display]="loading || vp.sm ? 'none' : 'block'"></canvas>
    </div>
</div>

<mat-tab-group *ngIf="!loading" class="account-tabs">
    <!-- Confirmed transactions -->
    <mat-tab>
        <ng-template mat-tab-label>
            <span color="accent" matBadgeOverlap="false" [matBadge]="getConfirmedBadge()">
                <ng-container *ngIf="!vp.sm">
                    Confirmed
                    <ng-container *ngIf="!vp.md">Transactions</ng-container>
                </ng-container>
                <mat-icon *ngIf="vp.sm">check</mat-icon>
            </span>
        </ng-template>
        <account-confirmed-tab
            [paginator]="confirmedPaginator"
            [confirmedTransactions]="confirmedTransactions.display"
        ></account-confirmed-tab>
    </mat-tab>

    <!-- Pending transactions -->
    <mat-tab class="account-pending-tab">
        <ng-template mat-tab-label>
            <span class="account-pending-badge" [matBadge]="getPendingBadge()" matBadgeOverlap="false">
                <ng-container *ngIf="!vp.sm">
                    Pending
                    <ng-container *ngIf="!vp.md">Transactions</ng-container>
                </ng-container>
                <mat-icon *ngIf="vp.sm">pending</mat-icon>
            </span>
        </ng-template>
        <account-pending-tab
            [pendingTxCount]="accountOverview.pendingTxCount"
            [pendingTransactions]="pendingTransactions.display"
        ></account-pending-tab>
    </mat-tab>

    <!-- Delegators -->
    <mat-tab>
        <ng-template mat-tab-label>
            <span class="account-delegators-badge" [matBadge]="getDelegatorsBadge()" matBadgeOverlap="false">
                <!-- Delegators -->
                <ng-container *ngIf="!vp.sm">Delegators</ng-container>
                <mat-icon *ngIf="vp.sm">how_to_vote</mat-icon>
            </span>
        </ng-template>
        <account-delegators-tab [delegators]="delegators"></account-delegators-tab>
    </mat-tab>

    <!-- Insights -->
    <mat-tab>
        <ng-template mat-tab-label>
            <ng-container *ngIf="!vp.sm">Insights</ng-container>
            <mat-icon *ngIf="vp.sm">insights</mat-icon>
        </ng-template>
        <pxb-empty-state class="account-empty-state" title="Coming Soon" description="Feature in progress">
            <mat-icon pxb-empty-icon>how_to_vote</mat-icon>
        </pxb-empty-state>
    </mat-tab>
</mat-tab-group>
