@import '~@pxblue/colors/palette';

.account-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    &.sm {
        margin-bottom: 8px;
        flex-direction: column;
        align-items: flex-start;
    }
    .account-title {
        display: flex;
        align-items: center;
    }
    .account-address,
    .account-representative {
        word-break: break-all;
        line-height: 16px;
        margin-right: 24px;
    }

    .account-representative {
        color: map-get($pxb-gray, 500);
        margin-bottom: 16px;
        margin-top: -4px;
        .link {
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .account-monkey {
        width: 150px;
        min-width: 150px;
        &.sm {
            width: 100px;
            min-width: 100px;
            margin-right: 16px;
        }
    }
}

#qr-code {
    height: 120px !important;
    width: 120px !important;
    box-sizing: border-box;
    border: solid 1px map-get($pxb-green, 500);
}

.account-tabs .mat-tab-label {
    height: 4.5rem;
    width: 100%;
}

.account-summary-tags {
    &.sm {
        display: flex;
    }
    pxb-list-item-tag {
        margin-right: 16px;
    }
    .account-balance {
        background-color: map-get($pxb-white, 50);
        color: map-get($pxb-green, 700);
        border: solid 1px map-get($pxb-green, 700);
    }
    .account-pending {
        background-color: map-get($pxb-white, 50);
        color: map-get($pxb-orange, 500);
        border: solid 1px map-get($pxb-orange, 500);
    }
}

.account-tabs {
    .account-pending-badge {
        .mat-badge-content {
            background: map-get($pxb-orange, 500);
        }
    }
    .account-delegators-badge {
        .mat-badge-content {
            background-color: map-get($pxb-blue, 500);
        }
    }
    .mat-badge-content {
        min-width: 22px;
        width: unset !important;
        padding: 2px;
        top: -16px !important;
    }
}

.account-empty-state {
    padding: 48px;
    padding-top: 72px;
    padding-bottom: 72px;
    &.sm {
        padding-bottom: 350px;
    }
}
