@import '~@pxblue/colors/palette';

.account-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
    &.sm {
        margin-bottom: 8px;
        flex-direction: column;
        align-items: flex-start;
    }
    .account-title {
        display: flex;
        align-items: center;
    }
    .account-address {
        display: flex;
        align-items: center;
        .account-address-link {
            margin-right: 8px;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .account-address,
    .account-representative {
        display: flex;
        align-items: center;
        word-break: break-all;
        line-height: 16px;
    }
    .account-representative-address {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }

    .account-representative {
        color: map-get($pxb-gray, 500);
        margin-bottom: 16px;
        margin-top: 16px;
        display: flex;
        &.sm {
            margin-bottom: 8px;
        }
        .link {
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .account-monkey {
        width: 150px;
        min-width: 150px;
        &.sm {
            width: 100px;
            min-width: 100px;
            margin-right: 16px;
        }
    }

    .account-balance {
        .account-ban-amount {
            font-size: 24px;
            font-weight: 600;
        }
        .account-btc-amount {
            font-size: 18px;
        }
        .account-usd-amount {
            font-size: 18px;
        }
    }
    .account-balance.sm {
        display: flex;
        flex: 1 1 0px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .account-ban-amount {
            font-size: 18px;
            margin-bottom: -4px;
        }
        .account-btc-amount {
            font-size: 14px;
        }
        .account-usd-amount {
            font-size: 14px;
        }
    }
}

#qr-code {
    height: 120px !important;
    width: 120px !important;
    box-sizing: border-box;
    border: solid 1px map-get($pxb-green, 500);
}

.account-tabs .mat-tab-label {
    height: 5rem;
    justify-content: center;
    width: 100%;
    min-width: unset;
}

.account-summary-tags {
    &.sm {
        display: flex;
    }
    pxb-list-item-tag {
        margin-right: 16px;
    }
    .account-balance {
        margin-bottom: 8px;
        font-size: 18px;
    }
    .account-pending {
        background-color: map-get($pxb-white, 50);
        color: map-get($pxb-orange, 500);
        border: solid 1px map-get($pxb-orange, 500);
    }
}

.account-tabs {
    .account-pending-badge {
        .mat-badge-content {
            background: map-get($pxb-orange, 500);
        }
    }
    .account-delegators-badge {
        .mat-badge-content {
            background-color: map-get($pxb-blue, 500);
        }
    }
    .mat-badge-content {
        min-width: 22px;
        width: unset !important;
        padding: 2px;
        top: -16px !important;
    }
}

.account-empty-state {
    padding: 72px 48px;
}
