<ng-template #transactionPaginator let-top="top">
    <ng-container *ngIf="!isPending && txService.showConfirmedTransactionsPaginator()">
        <mat-divider *ngIf="!top"></mat-divider>
        <app-tx-paginator [blockCount]="blockCount"> </app-tx-paginator>
        <mat-divider *ngIf="top"></mat-divider>
    </ng-container>
</ng-template>

<div class="brpd-tab-transaction-list animation-content">
    <ng-template *ngTemplateOutlet="transactionPaginator; context: { top: true }"></ng-template>

    <app-casual-view
        *ngIf="!isBRPD"
        [transactions]="getDisplayedTransactions()"
        [isPending]="isPending"
    ></app-casual-view>

    <app-compact-view
        *ngIf="isBRPD"
        [transactions]="getDisplayedTransactions()"
        [isPending]="isPending"
    ></app-compact-view>

    <div *ngIf="showLoadingEmptyState()" class="tab-empty-state">
        <blui-empty-state responsive class="account-empty-state" title="Loading...">
            <mat-icon blui-empty-icon>travel_explore</mat-icon>
        </blui-empty-state>
    </div>

    <div *ngIf="showNoFilteredResultsEmptyState()" class="tab-empty-state">
        <blui-empty-state
            responsive
            class="account-empty-state"
            title="No Filtered Data"
            description="No results meet your search criteria; please adjust your filters and try again."
        >
            <mat-icon blui-empty-icon>waterfall_chart</mat-icon>
        </blui-empty-state>
    </div>

    <div *ngIf="showErrorEmptyState()" class="tab-empty-state">
        <app-error></app-error>
    </div>

    <div *ngIf="showNoTransactionsEmptyState()" class="tab-empty-state">
        <blui-empty-state
            responsive
            class="account-empty-state"
            [title]="isPending ? 'No Receivable Transactions' : 'No Confirmed Transactions'"
            [description]="
                isPending
                    ? 'This account has already received all incoming payments.'
                    : 'This account has not received or sent anything yet.'
            "
        >
            <mat-icon blui-empty-icon>paid</mat-icon>
        </blui-empty-state>
    </div>

    <ng-template *ngTemplateOutlet="transactionPaginator; context: { top: false }"></ng-template>
</div>
