<ng-template #transactionPaginator let-top="top">
    <ng-container *ngIf="!isPending && txService.showConfirmedTransactionsPaginator()">
        <mat-divider *ngIf="!top"></mat-divider>
        <app-paginator [blockCount]="blockCount" [showPageNumberOnly]="true"> </app-paginator>
        <mat-divider *ngIf="top"></mat-divider>
    </ng-container>
</ng-template>

<div class="brpd-tab-transaction-list animation-content">
    <ng-template *ngTemplateOutlet="transactionPaginator; context: { top: true }"></ng-template>

    <app-casual-view
        *ngIf="!isBRPD()"
        [transactions]="getDisplayedTransactions()"
        [isPending]="isPending"
    ></app-casual-view>

    <app-compact-view
        *ngIf="isBRPD()"
        [transactions]="getDisplayedTransactions()"
        [isPending]="isPending"
    ></app-compact-view>

    <div *ngIf="showLoadingEmptyState()" class="tab-empty-state">
        <blui-empty-state responsive class="account-empty-state" title="Loading...">
            <mat-icon blui-empty-icon>travel_explore</mat-icon>
        </blui-empty-state>
    </div>

    <div *ngIf="blockCount === 0 || (getDisplayedTransactions().length === 0 && isPending)" class="tab-empty-state">
        <blui-empty-state
            responsive
            class="account-empty-state"
            [title]="txService.getEmptyStateTitle(isPending)"
            [description]="txService.getEmptyStateDescription(isPending)"
        >
            <mat-icon blui-empty-icon>paid</mat-icon>
        </blui-empty-state>
    </div>

    <div
        *ngIf="!isLoading() && getDisplayedTransactions().length === 0 && txService.hasFiltersApplied()"
        class="tab-empty-state"
    >
        <blui-empty-state
            responsive
            class="account-empty-state"
            title="No Filtered Data"
            description="Please adjust your filters and try again."
        >
            <mat-icon blui-empty-icon>travel_explore</mat-icon>
        </blui-empty-state>
    </div>

    <ng-template *ngTemplateOutlet="transactionPaginator; context: { top: false }"></ng-template>
</div>
