<ng-template #titleContent let-t="t">
    <div responsive>
        <div class="app-page-title" style="display: flex; align-items: center">
            <div>{{ t('page.title') }}</div>
            <app-load-spinner *ngIf="isLoading"></app-load-spinner>
        </div>
        <div class="app-page-subtitle">
            {{ t('page.description') }}
        </div>
    </div>
</ng-template>

<ng-template #bodyContent let-t="t">
    <mat-card responsive class="divider-border">
        <div class="section-title">
            {{ t('nakamotoCoefficientCard.title') }}
        </div>
        <div class="app-section-subtitle" style="margin-bottom: 0px">
            {{ t('nakamotoCoefficientCard.subtitle') }}
        </div>
        <div style="display: flex; justify-content: center; margin: 16px 0; text-align: center">
            <div class="network-nakamoto">
                {{ nakamotoCoefficient }}
            </div>
        </div>
        <div class="app-section-subtitle" *ngIf="nakamotoCoefficient > 1" style="margin-bottom: 0; margin-top: 0">
            {{ t('nakamotoCoefficientCard.greatThanOneBody.intro') }}
            <strong>{{ nakamotoCoefficient }}</strong>
            {{
                t('nakamotoCoefficientCard.greatThanOneBody.largestReps', {
                    onlineWeightQuorumPercent: quorum.onlineWeightQuorumPercent
                })
            }}
        </div>
        <div class="app-section-subtitle" *ngIf="nakamotoCoefficient === 1" style="margin-bottom: 0">
            {{ t('nakamotoCoefficientCard.oneBody.intro') }}
            <strong>{{ t('nakamotoCoefficientCard.oneBody.one') }}</strong>
            {{
                t('nakamotoCoefficientCard.oneBody.largestReps', {
                    onlineWeightQuorumPercent: quorum.onlineWeightQuorumPercent
                })
            }}
        </div>
        <div class="app-caption" style="margin-top: 16px; margin-bottom: 0">
            {{ t('nakamotoCoefficientCard.hint') }}
            <a class="link primary" [routerLink]="'/' + navItems.representatives.route">
                {{ t('nakamotoCoefficientCard.hintLink') }}</a
            >.
        </div>
    </mat-card>

    <mat-card responsive class="divider-border">
        <div class="section-title">
            {{ t('quorumCoefficientCard.title') }}
        </div>
        <div class="app-section-subtitle" style="margin-bottom: 0px">
            {{ t('quorumCoefficientCard.subtitle') }}
        </div>
        <div style="display: flex; justify-content: center; margin: 16px 0; text-align: center">
            <div class="network-nakamoto">
                {{ quorumCoefficient }}
            </div>
        </div>
        <div class="app-section-subtitle" *ngIf="quorumCoefficient > 1" style="margin-bottom: 0; margin-top: 0">
            The <strong>{{ quorumCoefficient }}</strong> largest representatives could potentially collude together to
            achieve {{ 100 - quorum.onlineWeightQuorumPercent }}% of the online voting weight to prevent quorum and
            stall the network.
        </div>
        <div class="app-section-subtitle" *ngIf="quorumCoefficient === 1" style="margin-bottom: 0">
            It only takes <strong>one</strong> entity to achieve >{{ 100 - quorum.onlineWeightQuorumPercent }}% of the
            online voting weight to prevent quorum and stall the network.
        </div>
        <div class="app-caption" style="margin-top: 16px; margin-bottom: 0">
            <strong> {{ nextLevelQuorumCoefficientDifference | appComma }} </strong> BAN weight needs to migrate from
            the largest representatives to increase this metric by 1.
        </div>
    </mat-card>

    <mat-card responsive class="divider-border">
        <div class="section-title">
            {{ t('supplyCard.title') }}
        </div>
        <div class="app-section-subtitle">
            {{ t('supplyCard.subtitle') }}
        </div>
        <div style="display: flex; justify-content: center">
            <highcharts-chart
                [update]="true"
                [Highcharts]="Highcharts"
                [options]="supplyChartOptions"
                style="pointer-events: none"
                [style.height.px]="vp.sm ? 140 : 200"
                [style.marginBottom.px]="vp.sm ? 0 : 50"
                [style.width.px]="vp.sm ? 320 : vp.md ? 440 : 500"
            ></highcharts-chart>
        </div>
        <table class="network-supply-table" responsive>
            <tr>
                <th>{{ t('supplyCard.table.headers.description') }}</th>
                <th>{{ t('supplyCard.table.headers.amount') }}</th>
                <th>{{ t('supplyCard.table.headers.percent') }}</th>
            </tr>
            <tr>
                <td>{{ t('supplyCard.table.totalSupply') }}</td>
                <td>{{ supply.totalAmount - supply.burnedAmount | appComma }}</td>
                <td>100%</td>
            </tr>
            <tr>
                <td>{{ t('supplyCard.table.distributionFunds') }}</td>
                <td>{{ supply.devFundAmount | appComma }}</td>
                <td>{{ supply.devFundPercent | appPercent }}</td>
            </tr>
            <tr>
                <td>{{ t('supplyCard.table.circulatingSupply') }}</td>
                <td>{{ supply.circulatingAmount | appComma }}</td>
                <td>{{ supply.circulatingPercent | appPercent }}</td>
            </tr>
        </table>
        <div class="mat-body-2" style="margin-bottom: 0; margin-top: 24px">
            <strong>{{ supply.burnedAmount | appComma }}</strong> {{ t('supplyCard.burned') }}
        </div>
    </mat-card>

    <mat-card responsive class="divider-border">
        <div class="section-title">{{ t('voteWeightCard.title') }}</div>
        <div class="app-section-subtitle">{{ t('voteWeightCard.subtitle') }}</div>
        <div style="display: flex; justify-content: center">
            <highcharts-chart
                [update]="true"
                [Highcharts]="Highcharts"
                [options]="consensusChartOptions"
                style="pointer-events: none"
                [style.height.px]="vp.sm ? 220 : 250"
                [style.width.px]="vp.sm ? 300 : vp.md ? 440 : 500"
            ></highcharts-chart>
        </div>

        <table class="network-consensus-table" responsive>
            <tr>
                <th>{{ t('voteWeightCard.headers.representatives') }}</th>
                <th>{{ t('voteWeightCard.headers.amount') }}</th>
                <th>{{ t('voteWeightCard.headers.percent') }}</th>
            </tr>
            <tr>
                <td>
                    <mat-icon class="status-icon primary">check</mat-icon>
                    Online
                </td>
                <td>{{ quorum.onlineWeight | appComma }}</td>
                <td>{{ quorum.onlinePercent | appPercent }}</td>
            </tr>
            <tr>
                <td>
                    <mat-icon class="status-icon warn">priority_high</mat-icon>
                    Offline
                </td>
                <td>{{ quorum.offlineWeight | appComma }}</td>
                <td>{{ quorum.offlinePercent | appPercent }}</td>
            </tr>
            <tr>
                <td>
                    <mat-icon class="status-icon warn">priority_high</mat-icon>
                    No Rep
                </td>
                <td>{{ quorum.noRepWeight | appComma }}</td>
                <td>{{ quorum.noRepPercent | appPercent }}</td>
            </tr>
        </table>
    </mat-card>

    <mat-card responsive class="divider-border">
        <div class="section-title">Protocol</div>
        <div class="app-section-subtitle">What protocol version are nodes running?</div>
        <table class="network-peer-version-table" responsive [style.marginTop.px]="0">
            <tr>
                <th>Version</th>
                <th>Amount</th>
                <th>Percentage</th>
            </tr>

            <tr *ngFor="let peerVersion of peerVersions">
                <td>{{ peerVersion.version }}</td>
                <td>{{ peerVersion.count }}</td>
                <td>{{ calcPeerVersionPercentage(peerVersion.count) }}%</td>
            </tr>
        </table>
    </mat-card>

    <mat-card responsive class="divider-border">
        <div class="section-title">Quorum</div>
        <div class="app-section-subtitle">How much Banano is needed to achieve consensus?</div>
        <!-- Make this a list that has STAT as title, description as subtitle, icon and metric. -->
        <table class="network-quorum-table" responsive [style.marginTop.px]="0">
            <tr>
                <td>Current online stake total</td>
                <td>{{ quorum.onlineWeight | appComma }} BAN</td>
            </tr>
            <tr>
                <td>Online weight quorum percent</td>
                <td>{{ quorum.onlineWeightQuorumPercent }}%</td>
            </tr>
            <tr>
                <td>Delta <span class="app-caption">(number which quorum is achieved)</span></td>
                <td>{{ quorum.quorumDelta | appComma }} BAN</td>
            </tr>
            <tr>
                <td>Minimum online weight</td>
                <td>{{ quorum.onlineWeightMinimum | appComma }} BAN</td>
            </tr>
        </table>
    </mat-card>
</ng-template>

<ng-container *transloco="let t; scope: 'network'; read: 'network'">
    <div class="network-root app-page-root" responsive>
        <div class="app-page-content" [class.error]="hasError">
            <app-error *ngIf="hasError"></app-error>
            <ng-container *ngIf="!hasError">
                <ng-template [ngTemplateOutlet]="titleContent" [ngTemplateOutletContext]="{ t }"></ng-template>
                <!--<app-network-loading [show]="isLoading"></app-network-loading>-->
                <div *ngIf="!isLoading" class="animation-body network-container">
                    <ng-template [ngTemplateOutlet]="bodyContent" [ngTemplateOutletContext]="{ t }"></ng-template>
                </div>
            </ng-container>
        </div>
    </div>
</ng-container>
