<ng-template #titleContent>
    <div responsive>
        <div class="app-page-title">
            <ng-container *ngIf="!isLoading">Network</ng-container>
            <ng-container *ngIf="isLoading">Loading</ng-container>
        </div>
        <div class="app-page-subtitle">
            Banano network overview, including supply, quorum and voting weight statistics.
        </div>
    </div>
</ng-template>

<ng-template #bodyContent>
    <mat-card responsive style="width: 100%">
        <div class="app-section-title">Nakamoto Coefficient</div>
        <div class="app-section-subtitle" style="margin-bottom: 0px">
            What is the minimum number of entities required to attack the network?
        </div>
        <div style="display: flex; justify-content: center; margin: 16px 0; text-align: center">
            <div class="network-nakamoto">
                {{ nakamotoCoefficient }}
            </div>
        </div>
        <div
            class="app-section-subtitle"
            *ngIf="nakamotoCoefficient > 1"
            [style.marginTop.px]="vp.sm ? 36 : 0"
            style="margin-bottom: 0"
        >
            The <strong>{{ nakamotoCoefficient }}</strong> largest reps could potentially collude together to achieve
            >{{ quorum.onlineWeightQuorumPercent }}% of the online voting weight and stall the network.
        </div>
        <div class="app-section-subtitle" *ngIf="nakamotoCoefficient === 1" style="margin-bottom: 0">
            It only takes <strong>one</strong> entity to stall the network.
        </div>
        <div class="app-caption" style="margin-top: 4px; margin-bottom: 16px">
            See the full representative list <span class="link primary" (click)="goRepsPage()">here</span>.
        </div>
    </mat-card>

    <mat-card responsive>
        <div class="app-section-title">Supply</div>
        <div class="app-section-subtitle">How much banano is circulating?</div>
        <div style="display: flex; justify-content: center">
            <highcharts-chart
                [update]="true"
                [Highcharts]="Highcharts"
                [options]="supplyChartOptions"
                style="pointer-events: none"
                [style.height.px]="vp.sm ? 140 : 200"
                [style.marginBottom.px]="vp.sm ? 0 : 50"
                [style.width.px]="vp.sm ? 320 : vp.md ? 440 : 500"
            ></highcharts-chart>
        </div>
        <table class="network-supply-table" responsive>
            <tr>
                <th>Description</th>
                <th>Amount</th>
                <th>Percent</th>
            </tr>
            <tr>
                <td>Total Supply</td>
                <td>{{ supply.totalAmount | appComma }}</td>
                <td>100%</td>
            </tr>
            <tr>
                <td>Team Banano Funds</td>
                <td>{{ supply.devFundAmount | appComma }}</td>
                <td>{{ supply.devFundPercent | appPercent }}</td>
            </tr>
            <tr>
                <td>Circulating Supply</td>
                <td>{{ supply.circulatingAmount | appComma }}</td>
                <td>{{ supply.circulatingPercent | appPercent }}</td>
            </tr>
        </table>
        <div class="app-section-subtitle" style="margin-bottom: 0; margin-top: 24px">
            <strong>{{ supply.burnedAmount | appComma }}</strong> banano has been burned.
        </div>
    </mat-card>

    <mat-card responsive>
        <div class="app-section-title">Vote weight</div>
        <div class="app-section-subtitle">How is network voting weight allocated?</div>
        <div style="display: flex; justify-content: center">
            <highcharts-chart
                [update]="true"
                [Highcharts]="Highcharts"
                [options]="consensusChartOptions"
                style="pointer-events: none"
                [style.height.px]="vp.sm ? 220 : 250"
                [style.width.px]="vp.sm ? 300 : vp.md ? 440 : 500"
            ></highcharts-chart>
        </div>

        <table class="network-consensus-table" responsive>
            <tr>
                <th>Representatives</th>
                <th>Amount</th>
                <th>Percent</th>
            </tr>
            <tr>
                <td>
                    <mat-icon class="status-icon primary">check</mat-icon>
                    Online
                </td>
                <td>{{ quorum.onlineWeight | appComma }}</td>
                <td>{{ quorum.onlinePercent | appPercent }}</td>
            </tr>
            <tr>
                <td>
                    <mat-icon class="status-icon warn">priority_high</mat-icon>
                    Offline
                </td>
                <td>{{ quorum.offlineWeight | appComma }}</td>
                <td>{{ quorum.offlinePercent | appPercent }}</td>
            </tr>
            <tr>
                <td>
                    <mat-icon class="status-icon warn">priority_high</mat-icon>
                    No Rep
                </td>
                <td>{{ quorum.noRepWeight | appComma }}</td>
                <td>{{ quorum.noRepPercent | appPercent }}</td>
            </tr>
        </table>
    </mat-card>

    <mat-card responsive>
        <div class="app-section-title">Protocol</div>
        <div class="app-section-subtitle">What protocol version are nodes running?</div>
        <table class="network-peer-version-table" responsive [style.marginTop.px]="0">
            <tr>
                <th>Version</th>
                <th>Amount</th>
                <th>Percentage</th>
            </tr>

            <tr *ngFor="let peerVersion of peerVersions">
                <td>{{ peerVersion.version }}</td>
                <td>{{ peerVersion.count }}</td>
                <td>{{ calcPeerVersionPercentage(peerVersion.count) }}%</td>
            </tr>
        </table>
    </mat-card>

    <mat-card responsive>
        <div class="app-section-title">Quorum</div>
        <div class="app-section-subtitle">How much banano is needed to achieve consensus?</div>
        <!-- Make this a list that has STAT as title, description as subtitle, icon and metric. -->
        <table class="network-quorum-table" responsive [style.marginTop.px]="0">
            <tr>
                <td>Current online stake total</td>
                <td>{{ quorum.onlineWeight | appComma }} BAN</td>
            </tr>
            <tr>
                <td>Online weight quorum percent</td>
                <td>{{ quorum.onlineWeightQuorumPercent }}%</td>
            </tr>
            <tr>
                <td>Delta <span class="app-caption">(number which quorum is achieved)</span></td>
                <td>{{ quorum.quorumDelta | appComma }} BAN</td>
            </tr>
            <tr>
                <td>Minimum online weight</td>
                <td>{{ quorum.onlineWeightMinimum | appComma }} BAN</td>
            </tr>
        </table>
    </mat-card>
</ng-template>

<div class="network-root app-page-root" responsive>
    <div class="app-page-content" [class.loading]="isLoading">
        <app-error *ngIf="hasError"></app-error>
        <ng-container *ngIf="!hasError">
            <ng-template [ngTemplateOutlet]="titleContent"></ng-template>
            <ng-template *ngIf="!isLoading" [ngTemplateOutlet]="bodyContent"></ng-template>
        </ng-container>
    </div>
</div>

<app-wave [darkThemeWaveNumber]="16"></app-wave>
