.network-root {
    .app-page-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1200px;
    }

    .status-icon {
        $size: 14px;
        font-size: $size;
        height: $size;
        width: $size;
        margin-right: 4px;
    }

    .mat-card {
        display: flex;
        flex-direction: column;
        text-align: left;
        box-sizing: border-box;
        margin: 12px 0px;
        padding: 24px 32px;
        width: 49%;
        &.md {
            width: 100%;
        }
        &.sm {
            margin: 8px;
            margin-left: 0;
            margin-right: 0;
            padding: 16px 16px;
        }
    }

    .network-nakamoto {
        height: 56px;
        width: 56px;
        line-height: 56px;
        font-size: 36px;
        border-radius: 50%;
        margin: 8px 0;
        color: white;
        background-color: #4cbf4b;
        display: block;
    }

    table {
        font-size: 15px;
        .mat-overline {
            font-size: 9px !important;
            line-height: 9px !important;
            margin-top: 4px;
        }
        &.sm {
            font-size: 13px;
            box-sizing: border-box;
        }
    }
    table.network-peer-version-table,
    table.network-quorum-table {
        margin-top: 16px;
    }

    table.network-supply-table,
    table.network-quorum-table,
    table.network-peer-version-table,
    table.network-consensus-table {
        margin-bottom: 32px !important;
        border-collapse: collapse;
        border-radius: 4px;
        th,
        tr,
        td {
            padding: 8px;
        }

        th {
            height: 24px;
            line-height: 24px;
        }
        tr {
            height: 36px;
        }
        tr td {
            position: relative;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }
        tr td:first-of-type {
            text-align: left;
        }
    }

    table.network-consensus-table,
    table.network-supply-table {
        margin-top: 16px;
    }

    .network-consensus-table .status {
        font-size: 12px;
        font-weight: 600;
        position: absolute;
        right: 8px;
        top: 8px;
    }

    .highcharts-background {
        fill: none;
    }
}

@mixin network-theme($table-border-color) {
    table.network-supply-table,
    table.network-quorum-table,
    table.network-peer-version-table,
    table.network-consensus-table {
        tr {
            height: 36px;
            border-bottom: $table-border-color;
        }
    }
}
