.wallets-data-cell {
    display: flex;
    align-items: center;
    .wallets-data {
        word-break: break-all;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    ::ng-deep .mat-form-field-wrapper {
        padding-bottom: 0 !important;
    }
}

.wallets-rich-list-table {
    &.sm .mat-cell {
        padding-top: 24px !important;
        padding-bottom: 24px !important;
    }
    &.sm {
        .address {
            font-size: 0.875rem !important;
        }
    }
    .address {
        font-size: 0.875rem !important;
        font-family: monospace;
    }

    .wallets-table-alias {
        font-weight: 600;
        font-size: 14px !important;
    }
    &.sm .wallets-table-alias {
        font-size: 14px !important;
    }

    .wallets-rich-list-conversion {
        font-size: 12px !important;
    }
}

.wallets-chart {
    margin: 0;
    margin-top: 24px;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: left;
    margin-bottom: 72px;
    padding-top: 16px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0px;
    &.md,
    &.sm {
        margin-top: 0;
        justify-content: center;
    }
}

/* Mobile styles */
app-paginator.sm > div {
    margin-left: -8px;
    margin-right: -8px;
}
.wallets-rich-list-table,
.wallets-chart {
    &.sm {
        width: 100vw !important;
        margin-right: -16px;
        margin-left: -16px;
    }
}

.wallets-address-cell {
    word-break: break-all;
    padding-right: 8px;
}

@mixin wallets-theme($foreground, $background, $chart-grid) {
    .wallets-chart {
        background-color: map-get($background, card);
    }
    .highcharts-label.highcharts-data-label text[style] {
        color: map-get($foreground, text) !important;
        fill: map-get($foreground, text) !important;
    }
    .highcharts-legend-item.highcharts-bar-series text[style] {
        font-weight: 400 !important;
        color: map-get($foreground, secondary-text) !important;
        fill: map-get($foreground, secondary-text) !important;
    }
    .highcharts-grid.highcharts-yaxis-grid .highcharts-grid-line {
        stroke: $chart-grid;
    }
}
