<ng-template #titleContent>
    <div class="app-page-title" style="display: flex; align-items: center">
        <div>Wallets</div>
        <app-load-spinner *ngIf="isLoading"></app-load-spinner>
    </div>
    <div class="app-page-subtitle">See account distribution statistics and the list of the top Banano holders.</div>
</ng-template>

<ng-template #bodyContent>
    <div class="app-section-title">BAN Distribution Chart</div>
    <div class="app-section-subtitle">The chart below shows the distribution of Banano among all opened accounts.</div>
    <mat-card class="wallets-chart mat-elevation-z2 divider-border" responsive>
        <highcharts-chart
            [update]="true"
            [Highcharts]="Highcharts"
            [options]="distributionChart"
            style="pointer-events: none; width: 100%"
            [style.height.px]="vp.sm ? 300 : vp.md ? 350 : 400"
        ></highcharts-chart>
    </mat-card>

    <div class="app-section-title">All Accounts</div>
    <div class="app-section-subtitle" [style.marginBottom.px]="12">
        All Banano accounts, sorted by balance. Any account with an offline representative is marked with a warning
        flag.
        <ng-container *ngIf="!vp.sm">
            It is encouraged that these accounts change their representative if their current rep is constantly offline.
        </ng-container>
    </div>
    <ng-template #paginator>
        <app-wallet-paginator
            responsive
            [pageSize]="pageSize"
            [maxElements]="totalAccounts"
            [(pageIndex)]="currentPage"
            (pageIndexChange)="loadRichListPage($event)"
            [disableMove]="loadingNewAccountBalancePage"
        ></app-wallet-paginator>
    </ng-template>

    <ng-template [ngTemplateOutlet]="paginator"></ng-template>

    <table
        mat-table
        *ngIf="accountBalances.length > 0"
        [style.width.%]="100"
        [dataSource]="accountBalances"
        class="wallets-rich-list-table mat-elevation-z2 divider-border"
        responsive
    >
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef></th>
            <td
                mat-cell
                [style.paddingRight.px]="20"
                [style.paddingLeft.px]="vp.sm ? 16 : 'inherit'"
                *matCellDef="let element; let i = index"
            >
                <span
                    class="text-secondary"
                    matBadgeColor="warn"
                    matBadgeOverlap="false"
                    [matBadgeSize]="'small'"
                    [matBadge]="showWarningBadge(element.representative) ? '!' : undefined"
                >
                    {{ formatIndex(i + 1 + currentPage * pageSize) }}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="addr">
            <th mat-header-cell *matHeaderCellDef>Address</th>
            <td
                mat-cell
                [style.paddingTop.px]="12"
                [style.paddingBottom.px]="12"
                class="wallets-address-cell"
                *matCellDef="let element"
            >
                <div *ngIf="aliasService.has(element.address)">
                    <a
                        class="wallets-table-alias link primary"
                        style="margin-bottom: -2px; word-break: break-word"
                        [routerLink]="'/' + navItems.account.route + '/' + element.address"
                        >{{ aliasService.getAlias(element.address) }}</a
                    >
                </div>

                <div class="address">
                    <a class="link text" [routerLink]="'/' + navItems.account.route + '/' + element.address">
                        {{ element.address }}
                    </a>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="ban">
            <th mat-header-cell [style.paddingLeft.px]="16" *matHeaderCellDef>Amount</th>
            <td mat-cell style="padding: 8px 16px 8px 16px" *matCellDef="let element">
                <div style="display: flex; align-items: center; font-size: 15px">
                    <!--<span [style.fontSize.px]="vp.sm ? 8 : 12">🍌</span>-->
                    <!--
                    <img
                        *ngIf="!vp.sm && isLightTheme()"
                        src="assets/banano-mark-green.svg"
                        [width]="18"
                        [height]="18"
                        style="margin-right: 6px"
                    /> -->
                    <img
                        src="assets/banano-mark.svg"
                        [width]="vp.sm ? 16 : 18"
                        [height]="vp.sm ? 16 : 18"
                        [style.marginRight.px]="vp.sm ? 4 : 6"
                    />
                    {{ formatBanAmount(element.amount) }}
                </div>
                <div class="wallets-rich-list-conversion text-secondary">
                    <div>
                        {{ formatUsdPrice(element.amount) | currency: 'USD':'symbol':'1.0' }}
                        <ng-container>·</ng-container>
                        {{ formatBtcPrice(element.amount) }}
                    </div>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
    </table>
    <ng-template [ngTemplateOutlet]="paginator"></ng-template>
</ng-template>

<div class="app-page-root" responsive>
    <div class="app-page-content">
        <app-error
            *ngIf="hasError"
            title="Try again later"
            description="The list of wallets is being updated right now"
            icon="sync_problem"
        ></app-error>
        <ng-container *ngIf="!hasError">
            <ng-template [ngTemplateOutlet]="titleContent"></ng-template>
            <div *ngIf="!isLoading" class="animation-body">
                <ng-template [ngTemplateOutlet]="bodyContent"></ng-template>
            </div>
        </ng-container>
    </div>
</div>
