<div class="wallets-root" responsive>
    <div class="wallets-content">
        <div class="wallets-title" [class.mat-display-2]="!vp.sm" [class.mat-display-1]="vp.sm">
            <ng-container *ngIf="!loading"> BAN Distribution Chart </ng-container>
            <ng-container *ngIf="loading"> Loading </ng-container>
        </div>

        <div class="mat-subheading-2 wallets-subtitle" [style.marginBottom.px]="48">
            The chart below showcases the distribution of banano among all opened banano accounts.
        </div>

        <ng-container *ngIf="!loading">
            <div class="wallets-chart mat-elevation-z4" responsive>
                <highcharts-chart
                    [update]="true"
                    [Highcharts]="Highcharts"
                    [options]="distributionChart"
                    style="pointer-events: none; width: 100%"
                    [style.height.px]="vp.sm ? 300 : vp.md ? 350 : 400"
                ></highcharts-chart>
            </div>

            <div class="wallets-title" [class.mat-display-2]="!vp.sm" [class.mat-display-1]="vp.sm">All Accounts</div>
            <div class="mat-subheading-2 wallets-subtitle">All banano accounts, sorted by balance.</div>
            <div [class.mat-subheading-2]="!vp.sm" [class.mat-caption]="vp.sm" [style.marginBottom.px]="24">
                Any account with an offline representative is marked with a warning flag. It is encouraged that these
                accounts change their representative if their current rep is constantly offline.
            </div>
            <ng-template #paginator>
                <app-paginator
                    [pageSize]="pageSize"
                    [maxElements]="totalAccounts"
                    [(pageIndex)]="currentPage"
                    (pageIndexChange)="loadAccountBalances($event)"
                    [disableMove]="loadingNewAccountBalancePage"
                ></app-paginator>
            </ng-template>
            <ng-template [ngTemplateOutlet]="paginator"></ng-template>
            <table
                mat-table
                *ngIf="accountBalances.length > 0"
                [style.width.%]="100"
                [dataSource]="accountBalances"
                class="wallets-rich-list-table mat-elevation-z4"
                responsive
            >
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell [style.paddingRight.px]="12" *matCellDef="let element; let i = index">
                        <span
                            matBadgeColor="warn"
                            matBadgeOverlap="false"
                            [matBadgeSize]="vp.sm ? 'small' : 'medium'"
                            [matBadge]="element.repOnline ? undefined : '!'"
                        >
                            #{{ i + 1 + currentPage * pageSize }}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="addr">
                    <th mat-header-cell *matHeaderCellDef>Address</th>
                    <td
                        mat-cell
                        [style.paddingTop.px]="12"
                        [style.paddingBottom.px]="12"
                        class="wallets-address-cell"
                        *matCellDef="let element"
                        (click)="searchService.emitSearch(element.addr)"
                    >
                        {{ element.addr }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="ban">
                    <th mat-header-cell [style.paddingLeft.px]="16" *matHeaderCellDef>Amount</th>
                    <td mat-cell style="padding: 8px 12px 8px 16px" *matCellDef="let element">
                        <div style="display: flex; align-items: center">
                            <!--<span [style.fontSize.px]="vp.sm ? 8 : 12">🍌</span>-->
                            <img
                                src="assets/banano-icon.svg"
                                [width]="vp.sm ? 12 : 14"
                                [height]="vp.sm ? 12 : 14"
                                style="margin-right: 4px"
                            />
                            {{ formatBanAmount(element.ban) }}
                        </div>
                        <div class="wallets-rich-list-conversion">
                            <div>
                                {{ formatUsdPrice(element.ban) | currency }} ·
                                {{ formatBtcPrice(element.ban) }}
                            </div>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns"></tr>
            </table>
            <ng-template [ngTemplateOutlet]="paginator"></ng-template>
        </ng-container>
    </div>
</div>
