@import '~@pxblue/colors/palette';
@import '~@angular/material/_theming.scss';
@import 'src/app/pages/wallets/wallets.component.scss';
@import 'src/app/pages/representatives/representatives.component.scss';
@import 'src/app/pages/explore/account/account.component.scss';

$material-theme-primary: mat-palette($pxb-green, 200);
$material-theme-accent: mat-palette($pxb-blue);
$material-theme-warn: mat-palette($pxb-red);
$dark-theme: map-merge(
    mat-dark-theme($material-theme-primary, $material-theme-accent, $material-theme-warn),
    (
        foreground: (
            text: map-get($pxb-black, 50),
            secondary-text: map-get($pxb-black, 200),
            hint-text: map-get($pxb-black, 200),
            base: map-get($pxb-white, 50),
            divider: rgba(map-get($pxb-black, 200), 0.36),
            dividers: rgba(map-get($pxb-black, 200), 0.36),
            disabled: rgba(map-get($pxb-black, 300), 0.36),
            disabled-button: rgba(white, 0.3),
            disabled-text: rgba(map-get($pxb-black, 300), 0.36),
            elevation: map-get($pxb-darkBlack, 900),
            icon: map-get($pxb-black, 50),
            icons: map-get($pxb-black, 50),
            slider-min: map-get($pxb-black, 50),
            slider-off: rgba(white, 0.3),
            slider-off-active: rgba(white, 0.3),
        ),
        background: (
            status-bar: map-get($pxb-darkBlack, 900),
            app-bar: map-get($pxb-darkBlack, 100),
            background: map-get($pxb-darkBlack, 100),
            hover: rgba(white, 0.04),
            card: map-get($pxb-black, 900),
            dialog: map-get($pxb-black, 900),
            disabled-button: rgba(white, 0.12),
            raised-button: map-get($pxb-black, 500),
            focused-button: $light-focused,
            selected-button: map_get($mat-grey, 900),
            selected-disabled-button: map_get($mat-grey, 800),
            disabled-button-toggle: black,
            unselected-chip: map_get($mat-grey, 700),
            disabled-list-option: black,
        ),
    )
);

$theme-foreground: map-get($dark-theme, foreground);
$theme-background: map-get($dark-theme, background);

$primary-green: map-get($pxb-green, 200);
$warn-red: map-get($pxb-red, 200);

html,
body {
    background-color: map-get($theme-background, background) !important;
}

/* Navigation */
.pxb-drawer .pxb-drawer-nav-item-active-highlight {
    background-color: rgba(30, 99, 15, 0.14) !important;
}
.mat-toolbar.mat-primary,
.navigation-app-header-container {
    background-color: map-get($brand-pine, 700) !important;
    color: white !important;
}
.pxb-drawer-header-content,
.navigation-app-header-container {
    color: map-get($pxb-darkBlack, 500) !important;
}

.bookmarked-button {
    color: map-get($pxb-red, 300);
}

.primary {
    color: $primary-green !important;
}

/* Representative Page */
$online-color: $primary-green;
$offline-color: $warn-red;
@include representatives-theme($online-color, $offline-color);

/* Wallets Page */
$grid-stroke-color: map-get($pxb-gray, 800);
@include wallets-theme($theme-foreground, $theme-background, $grid-stroke-color);
.mat-drawer-backdrop.mat-drawer-shown {
    background-color: #040404d1 !important;
}
.pxb-list-item-tag-content .pxb-list-item-tag-label {
    font-weight: 400 !important;
}
/* Account Page */
@mixin repOnlineTag {
    border: solid 1px $primary-green;
    background-color: unset !important;
    color: $primary-green !important;
}
@mixin repOfflineTag {
    border: solid 1px $warn-red;
    background-color: unset !important;
    color: $warn-red !important;
}
@mixin heightTag {
    color: map-get($theme-foreground, text);
    border: solid 1px map-get($theme-foreground, text);
}
@mixin sendTag {
    border: solid 1px $warn-red;
    background-color: unset;
    color: $warn-red !important;
}
@mixin receiveTag {
    border: solid 1px $primary-green;
    background-color: unset;
    color: $primary-green !important;
    font-weight: 400;
}
@mixin changeTag {
    border: solid 1px map-get($pxb-blue, 200);
    background-color: unset;
    color: map-get($pxb-blue, 200) !important;
    font-weight: 400;
}
@mixin sendAmount {
    color: $warn-red;
}
@mixin receiveAmount {
    color: $primary-green;
}
$hashColor: map-get($pxb-gray, 400);
@include account-theme(
    repOnlineTag,
    repOfflineTag,
    heightTag,
    receiveTag,
    sendTag,
    changeTag,
    receiveAmount,
    sendAmount,
    $hashColor
);
