@import '~@pxblue/colors/palette';
@import '~@angular/material/_theming.scss';

$material-theme-primary: mat-palette($pxb-green, 700);
$material-theme-accent: mat-palette($pxb-blue);
$material-theme-warn: mat-palette($pxb-red);
$dark-theme: map-merge(
    mat-dark-theme($material-theme-primary, $material-theme-accent, $material-theme-warn),
    (
        foreground: (
            text: map-get($pxb-black, 50),
            secondary-text: map-get($pxb-black, 200),
            hint-text: map-get($pxb-black, 200),
            base: map-get($pxb-white, 50),
            divider: rgba(map-get($pxb-black, 200), 0.36),
            dividers: rgba(map-get($pxb-black, 200), 0.36),
            disabled: rgba(map-get($pxb-black, 300), 0.36),
            disabled-button: rgba(white, 0.3),
            disabled-text: rgba(map-get($pxb-black, 300), 0.36),
            elevation: map-get($pxb-darkBlack, 900),
            icon: map-get($pxb-black, 50),
            icons: map-get($pxb-black, 50),
            slider-min: map-get($pxb-black, 50),
            slider-off: rgba(white, 0.3),
            slider-off-active: rgba(white, 0.3),
        ),
        background: (
            status-bar: map-get($pxb-darkBlack, 900),
            app-bar: map-get($pxb-darkBlack, 100),
            background: map-get($pxb-darkBlack, 100),
            hover: rgba(white, 0.04),
            card: map-get($pxb-black, 900),
            dialog: map-get($pxb-black, 900),
            disabled-button: rgba(white, 0.12),
            raised-button: map-get($pxb-black, 500),
            focused-button: $light-focused,
            selected-button: map_get($mat-grey, 900),
            selected-disabled-button: map_get($mat-grey, 800),
            disabled-button-toggle: black,
            unselected-chip: map_get($mat-grey, 700),
            disabled-list-option: black,
        ),
    )
);

$darkForeground: map-get($dark-theme, foreground);
$darkBackground: map-get($dark-theme, background);

// representatives.component.ts
.monitored-reps-table .unchecked-blocks {
    color: map-get($pxb-red, 200);
}
.all-reps-table {
    .offline .mat-cell {
        color: map-get($pxb-red, 200);
    }
    .online .mat-cell {
        color: map-get($pxb-green, 200);
    }
}
.representatives-name-cell {
    color: map-get($pxb-green, 200) !important;
}
.representatives-all-list {
    .online {
        color: map-get($pxb-green, 200) !important;
    }
    .offline {
        color: map-get($pxb-red, 200);
    }
}

// wallets.component.ts
.wallets-chart {
    background-color: map-get($darkBackground, card);
}
.highcharts-label.highcharts-data-label text[style] {
    color: map-get($darkForeground, text) !important;
    fill: map-get($darkForeground, text) !important;
}
.highcharts-legend-item.highcharts-bar-series text[style] {
    font-weight: 400 !important;
    color: map-get($darkForeground, secondary-text) !important;
    fill: map-get($darkForeground, secondary-text) !important;
}
.highcharts-grid.highcharts-yaxis-grid .highcharts-grid-line {
    stroke: #505050;
}

.link {
    color: map-get($pxb-green, 200);
}

.mat-drawer-backdrop.mat-drawer-shown {
    background-color: #040404d1 !important;
}

// Header
.pxb-drawer-header-content,
.navigation-app-header-container {
    color: map-get($pxb-darkBlack, 500) !important;
}

// account.component.ts
.account-summary-tags {
    .account-pending {
        background-color: map-get($darkBackground, background);
        color: map-get($pxb-orange, 500);
        border: solid 1px map-get($pxb-orange, 500);
    }
}
.tab-transaction-list {
    .height {
        color: map-get($darkForeground, text);
        border: solid 1px map-get($darkForeground, text);
    }
    pxb-list-item-tag.type {
        color: black !important;
        &.send {
            background-color: map-get($pxb-red, 200);
        }
        &.receive {
            background-color: map-get($pxb-green, 200);
        }
        &.change {
            background-color: map-get($pxb-blue, 200);
        }
    }
    .amount.send {
        color: map-get($pxb-red, 200);
    }
    .amount.receive {
        color: map-get($pxb-green, 200);
    }
}

html,
body {
    background-color: map-get($darkBackground, background) !important;
}


.bookmarked-button {
    color: map-get($pxb-red, 300);
}