@import '~@pxblue/colors/palette';
@import '~@pxblue/colors-branding/palette';

@import '~@angular/material/_theming.scss';
@import 'src/app/pages/wallets/wallets.component.scss';
@import 'src/app/pages/representatives/representatives.component.scss';
@import '../../app/pages/account/account.component.scss';
@import 'src/app/pages/network/network.component.scss';

$material-theme-primary: mat-palette($pxb-green, 700);
$material-theme-accent: mat-palette($pxb-yellow);
$material-theme-warn: mat-palette($pxb-red);
$light-theme: map-merge(
    mat-light-theme($material-theme-primary, $material-theme-accent, $material-theme-warn),
    (
        foreground: (
            text: map-get($pxb-black, 500),
            secondary-text: map-get($pxb-gray, 500),
            hint-text: map-get($pxb-black, 400),
            base: map-get($pxb-darkBlack, 900),
            divider: rgba(66, 78, 84, 0.12),
            dividers: $dark-dividers,
            disabled: rgba(66, 78, 84, 0.3),
            disabled-button: rgba(black, 0.26),
            disabled-text: rgba(66, 78, 84, 0.3),
            elevation: map-get($pxb-darkBlack, 900),
            icon: rgba(black, 0.54),
            icons: rgba(black, 0.54),
            slider-min: rgba(black, 0.87),
            slider-off: rgba(black, 0.26),
            slider-off-active: rgba(black, 0.38),
        ),
        background: (
            status-bar: map_get($mat-grey, 300),
            app-bar: map-get($pxb-gray, 50),
            background: map-get($pxb-white, 200),
            hover: rgba(black, 0.04),
            card: map-get($pxb-white, 50),
            dialog: map-get($pxb-white, 50),
            disabled-button: rgba(114, 126, 132, 0.12),
            raised-button: map-get($pxb-white, 50),
            focused-button: $dark-focused,
            selected-button: map-get($pxb-gray, 300),
            selected-disabled-button: map-get($pxb-gray, 400),
            disabled-button-toggle: map-get($pxb-gray, 200),
            unselected-chip: map-get($pxb-gray, 300),
            disabled-list-option: map-get($pxb-gray, 200),
        ),
    )
);
$theme-foreground: map-get($light-theme, foreground);
$theme-background: map-get($light-theme, background);

$primary-green: map-get($pxb-green, 800);
$warn-red: map-get($pxb-red, 500);
$tag-opacity: 0.06;

.app-page-root,
.explore-body {
    //  background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%2346bf2c' fill-opacity='0.06' fill-rule='evenodd'/%3E%3C/svg%3E");
    //  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%232ca618' fill-opacity='0.06' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
    //  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%232ca618' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
}

$toolbarBgColor: map-get($pxb-gray, 300);
/* Navigation */
.pxb-drawer .pxb-drawer-nav-item-active-highlight {
    background-color: rgba($toolbarBgColor, 0.16) !important;
}
.pxb-drawer-header .mat-toolbar {
    background-color: $toolbarBgColor !important;
}
.mat-toolbar.mat-primary,
.navigation-app-bar {
    $color: map-get($pxb-white, 50);
    background-color: $toolbarBgColor !important;
    color: $color;
    .pxb-user-menu-avatar {
        color: $color;
        background: unset !important;
    }
    &.home {
        color: map-get($theme-foreground, text);
        background-color: map-get($theme-background, background) !important;
        .pxb-user-menu-avatar {
            color: map-get($theme-foreground, text);
        }
    }
}

.navigation-search-bar {
    background-color: map-get($theme-background, card) !important;
    input {
        background-color: map-get($theme-background, card) !important;
    }
    mat-toolbar-row {
        border-bottom: solid 1px map-get($theme-foreground, divider);
    }
    mat-icon,
    input {
        color: map-get($theme-foreground, text) !important;
    }
}

/* General */
.bookmarked-button {
    color: map-get($pxb-red, 300);
}
.primary {
    color: $primary-green !important;
}
.intermediary {
    color: map-get($pxb-orange, 500);
}
.warn {
    color: $warn-red !important;
}

/* Representative Page */
$online-color: $primary-green;
$offline-color: $warn-red;
$rep-border-color: map-get($theme-foreground, divider);
$table-address-color: map-get($theme-foreground, text);
@mixin principalTag {
    $tag: map-get($pxb-yellow, 900);
    border: solid 1px $tag;
    background-color: rgba($tag, $tag-opacity) !important;
    color: $tag !important;
}
@include representatives-theme($online-color, $offline-color, $rep-border-color, $table-address-color, principalTag);

/* Wallets Page */
$grid-stroke-color: map-get($pxb-gray, 100);
@include wallets-theme($theme-foreground, $theme-background, $grid-stroke-color);
.mat-drawer-backdrop.mat-drawer-shown {
    background-color: #040404d1 !important;
}

/* Account Page */
@mixin repOnlineTag {
    background-color: $primary-green !important;
}
@mixin repOfflineTag {
    background-color: $warn-red !important;
}
@mixin heightTag {
    color: map-get($theme-foreground, text);
    border: solid 1px map-get($theme-foreground, text);
    font-weight: 600 !important;
}
@mixin sendTag {
    background-color: $warn-red !important;
}
@mixin receiveTag {
    background-color: map-get($brand-emerald, 500) !important;
}
@mixin changeTag {
    background-color: map-get($pxb-blue, 500) !important;
}
@mixin sendAmount {
    color: $warn-red;
}
@mixin receiveAmount {
    color: map-get($brand-emerald, 500);
}
$hashColor: map-get($pxb-gray, 400);
$pendingBadgeColor: map-get($pxb-orange, 500);
$delegatorsBadgeColor: map-get($pxb-blue, 500);
@include account-theme(
    repOnlineTag,
    repOfflineTag,
    heightTag,
    receiveTag,
    sendTag,
    changeTag,
    receiveAmount,
    sendAmount,
    $hashColor,
    $pendingBadgeColor,
    $delegatorsBadgeColor
);

$network-table-border: solid 1px map-get($theme-foreground, divider);
@include network-theme($network-table-border);
