@import '~@pxblue/colors/palette';
@import '~@angular/material/_theming.scss';

$material-theme-primary: mat-palette($pxb-green, 700);
$material-theme-accent: mat-palette($pxb-blue);
$material-theme-warn: mat-palette($pxb-red);
$light-theme: map-merge(
    mat-light-theme($material-theme-primary, $material-theme-accent, $material-theme-warn),
    (
        foreground: (
            text: map-get($pxb-black, 500),
            secondary-text: map-get($pxb-black, 400),
            hint-text: map-get($pxb-black, 400),
            base: map-get($pxb-darkBlack, 900),
            divider: rgba(66, 78, 84, 0.12),
            dividers: $dark-dividers,
            disabled: rgba(66, 78, 84, 0.3),
            disabled-button: rgba(black, 0.26),
            disabled-text: rgba(66, 78, 84, 0.3),
            elevation: map-get($pxb-darkBlack, 900),
            icon: rgba(black, 0.54),
            icons: rgba(black, 0.54),
            slider-min: rgba(black, 0.87),
            slider-off: rgba(black, 0.26),
            slider-off-active: rgba(black, 0.38),
        ),
        background: (
            status-bar: map_get($mat-grey, 300),
            app-bar: map-get($pxb-gray, 50),
            background: map-get($pxb-white, 200),
            hover: rgba(black, 0.04),
            card: map-get($pxb-white, 50),
            dialog: map-get($pxb-white, 50),
            disabled-button: rgba(114, 126, 132, 0.12),
            raised-button: map-get($pxb-white, 50),
            focused-button: $dark-focused,
            selected-button: map-get($pxb-gray, 300),
            selected-disabled-button: map-get($pxb-gray, 400),
            disabled-button-toggle: map-get($pxb-gray, 200),
            unselected-chip: map-get($pxb-gray, 300),
            disabled-list-option: map-get($pxb-gray, 200),
        ),
    )
);

$lightForeground: map-get($light-theme, foreground);

// representatives.component.ts
.monitored-reps-table .unchecked-blocks {
    color: map-get($pxb-red, 900);
}
.all-reps-table {
    .offline .mat-cell {
        color: map-get($pxb-red, 900);
    }
    .online .mat-cell {
        color: map-get($pxb-green, 900);
    }
}
.representatives-name-cell {
    color: map-get($pxb-green, 900) !important;
}
.representatives-all-list {
    .online {
        color: map-get($pxb-green, 900) !important;
    }
    .offline {
        color: map-get($pxb-red, 900);
    }
}
.highcharts-label.highcharts-data-label text[style] {
    color: map-get($lightForeground, text) !important;
    fill: map-get($lightForeground, text) !important;
}

.link {
    color: map-get($pxb-green, 900) !important;
}

//wallets.component.ts
.highcharts-legend-item.highcharts-bar-series text[style] {
    font-weight: 400 !important;
}

// account.component.ts
.account-summary-tags {
    .account-pending {
        background-color: map-get($pxb-white, 50);
        color: map-get($pxb-orange, 500);
        border: solid 1px map-get($pxb-orange, 500);
    }
}
.account-rep-offline {
    background-color: map-get($pxb-red, 500);
    color: map-get($pxb-white, 50);
}
.tab-transaction-list {
    .hash,
    .to-from {
        color: map-get($pxb-gray, 300);
    }
    .height {
        color: map-get($lightForeground, text);
        border: solid 1px map-get($lightForeground, text);
    }
    pxb-list-item-tag.type {
        color: white !important;
        &.send {
            background-color: map-get($pxb-red, 300);
        }
        &.receive {
            background-color: map-get($pxb-green, 800);
        }
        &.change {
            background-color: map-get($pxb-blue, 500);
        }
    }
    .amount.send {
        color: map-get($pxb-red, 500);
    }
    .amount.receive {
        color: map-get($pxb-green, 500);
    }
}

.bookmarked-button {
    color: map-get($pxb-red, 300);
}
