@import '~@pxblue/colors/palette';
@import '~@pxblue/colors-branding/palette';

@import '~@angular/material/_theming.scss';
@import 'src/app/pages/wallets/wallets.component.scss';
@import 'src/app/pages/representatives/representatives.component.scss';
@import 'src/app/pages/explore/account/account.component.scss';

$material-theme-primary: mat-palette($pxb-green, 700);
$material-theme-accent: mat-palette($pxb-blue);
$material-theme-warn: mat-palette($pxb-red);
$light-theme: map-merge(
    mat-light-theme($material-theme-primary, $material-theme-accent, $material-theme-warn),
    (
        foreground: (
            text: map-get($pxb-black, 500),
            secondary-text: map-get($pxb-black, 400),
            hint-text: map-get($pxb-black, 400),
            base: map-get($pxb-darkBlack, 900),
            divider: rgba(66, 78, 84, 0.12),
            dividers: $dark-dividers,
            disabled: rgba(66, 78, 84, 0.3),
            disabled-button: rgba(black, 0.26),
            disabled-text: rgba(66, 78, 84, 0.3),
            elevation: map-get($pxb-darkBlack, 900),
            icon: rgba(black, 0.54),
            icons: rgba(black, 0.54),
            slider-min: rgba(black, 0.87),
            slider-off: rgba(black, 0.26),
            slider-off-active: rgba(black, 0.38),
        ),
        background: (
            status-bar: map_get($mat-grey, 300),
            app-bar: map-get($pxb-gray, 50),
            background: map-get($pxb-white, 200),
            hover: rgba(black, 0.04),
            card: map-get($pxb-white, 50),
            dialog: map-get($pxb-white, 50),
            disabled-button: rgba(114, 126, 132, 0.12),
            raised-button: map-get($pxb-white, 50),
            focused-button: $dark-focused,
            selected-button: map-get($pxb-gray, 300),
            selected-disabled-button: map-get($pxb-gray, 400),
            disabled-button-toggle: map-get($pxb-gray, 200),
            unselected-chip: map-get($pxb-gray, 300),
            disabled-list-option: map-get($pxb-gray, 200),
        ),
    )
);
$theme-foreground: map-get($light-theme, foreground);
$theme-background: map-get($light-theme, background);

$primary-green: map-get($pxb-green, 800);
$warn-red: map-get($pxb-red, 500);

html,
body {
    background-color: map-get($theme-background, background) !important;
}

/* Navigation */
.pxb-drawer .pxb-drawer-nav-item-active-highlight {
    background-color: #2bff0024 !important;
}

.bookmarked-button {
    color: map-get($pxb-red, 300);
}

.primary {
    color: $primary-green !important;
}

/* Representative Page */
$online-color: $primary-green;
$offline-color: $warn-red;
@include representatives-theme($online-color, $offline-color);

/* Wallets Page */
$grid-stroke-color: map-get($pxb-gray, 100);
@include wallets-theme($theme-foreground, $theme-background, $grid-stroke-color);
.mat-drawer-backdrop.mat-drawer-shown {
    background-color: #040404d1 !important;
}

/* Account Page */
@mixin repOnlineTag {
    background-color: $primary-green !important;
}
@mixin repOfflineTag {
    background-color: $warn-red !important;
}
@mixin heightTag {
    color: map-get($theme-foreground, text);
    border: solid 1px map-get($theme-foreground, text);
    font-weight: 600 !important;
}
@mixin sendTag {
    background-color: $warn-red !important;
}
@mixin receiveTag {
    background-color: map-get($brand-emerald, 500) !important;
}
@mixin changeTag {
    background-color: map-get($pxb-blue, 500) !important;
}
@mixin sendAmount {
    color: $warn-red;
}
@mixin receiveAmount {
    color: map-get($brand-emerald, 500);
}
$hashColor: map-get($pxb-gray, 400);
@include account-theme(
    repOnlineTag,
    repOfflineTag,
    heightTag,
    receiveTag,
    sendTag,
    changeTag,
    receiveAmount,
    sendAmount,
    $hashColor
);
