<div class="explore-root">
    <div class="explore-body" >
        <div class="explore-body-content">

            <div class="mat-display-2" [style.marginBottom.px]="8">Search</div>
            <div class="mat-subheading-1">Lookup addresses or transaction hashes</div>
            <mat-form-field appearance="outline" [style.marginTop.px]="32">
                <mat-label>Address</mat-label>
                <input
                    matInput
                    name="address"
                    autocomplete="off"
                    (focus)="touchedIdField = true; idFieldActive = true"
                    (blur)="idFieldActive = false"
                    [formControl]="searchFormControl"
                />
            </mat-form-field>
            <div style="text-align: left">
                <button [style.width.px]="140" mat-flat-button color="primary" [disabled]="loading">Search</button>
            </div>


            <ng-container *ngIf="!searched">
                <div class="mat-display-2" [style.marginTop.px]="72" [style.marginBottom.px]="8">Getting Started?</div>
                <div class="mat-subheading-1">Below are some sample accounts and transactions to help get familiar with how things work around here</div>
                <div [style.marginTop.px]="32">
                    <div class="mat-subheading-1" [style.marginBottom.px]="16">Sample Addresses</div>
                    <div >
                        <button mat-stroked-button color="accent" *ngFor="let addr of sampleAddresses"
                                [style.marginRight.px]="32"
                                (click)="search(addr)">
                            {{formatShortedAddress(addr)}}
                        </button>
                    </div>
                </div>

                <div [style.marginTop.px]="48">
                    <div class="mat-subheading-1" [style.marginBottom.px]="16">Sample Transactions</div>
                    <div>
                        <button mat-stroked-button color="accent" *ngFor="let tx of sampleTransactions"
                                [style.marginRight.px]="32"
                                (click)="search(tx)">
                            {{formatShortenedTx(tx)}}
                        </button>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="searched">
            <div class="mat-display-2" [style.marginTop.px]="72" [style.marginBottom.px]="8">Account</div>
            <div class="mat-subheading-1" [style.marginBottom.px]="16">{{searchFormControl.value}}</div>
            </ng-container>

            <div class="explore-account-history">
                <pxb-info-list-item *ngFor="let tx of data?.accountHistory?.history" [divider]="true" style="background-color: white">
                    <div *ngIf="monkeyTest" pxb-icon [innerHTML]="monkeyTest | safe"></div>
                    <div pxb-title>{{tx.account}}</div>
                    <div pxb-subtitle>{{tx.hash}}</div>
                    <div pxb-right-content>
                        <pxb-list-item-tag [label]="tx.type"></pxb-list-item-tag>
                    </div>
                </pxb-info-list-item>
            </div>
        </div>
    </div>
</div>
