:host {
    display: flex;
    flex: 1;
}

.explore-root {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.explore-body {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 64px 64px 32px 64px;
    box-sizing: border-box;
    .explore-body-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        .explore-title {
            margin-bottom: 16px;
            text-align: center;
        }
    }
}


.explore-account-history .pxb-info-list-item-icon-wrapper > * {
    height: 3rem!important;
    width: 3rem!important;
    font-size: 3rem!important;
}