<div class="explore-root">
    <div class="explore-body" [class.explore-home]="!showBlock && !showAccount" responsive>
        <div class="explore-body-content">
            <mat-card class="mat-elevation-z4" [style.padding.px]="vp.sm ? 36 : 48" *ngIf="!showBlock && !showAccount">
                <div
                    [class.mat-display-2]="!vp.sm"
                    [class.mat-display-1]="vp.sm"
                    [style.marginBottom.px]="8"
                    style="text-align: center; font-weight: 600; margin-bottom: 8px"
                >
                    Yellow Spyglass
                </div>
                <div class="mat-subheading-2" style="text-align: center; font-style: italic">
                    Explore the open seas of the banano network
                </div>
                <div style="text-align: center" [style.height.px]="vp.sm ? 275 : 400">
                    <img [style.width.px]="vp.sm ? 275 : 400" src="assets/pirate-monkey.png" />
                </div>
                <div class="mat-headline" [style.marginBottom.px]="8" [style.marginTop.px]="-16">Explore</div>
                <div class="mat-subheading-2">Search a banano address or a transaction hash below.</div>
                <div class="explore-search-bar" responsive>
                    <mat-form-field appearance="outline">
                        <mat-label>Address or Hash</mat-label>
                        <input
                            matInput
                            name="address"
                            autocomplete="off"
                            (focus)="touchedIdField = true; idFieldActive = true"
                            (blur)="idFieldActive = false"
                            [formControl]="searchFormControl"
                            (keyup.enter)="search(searchFormControl.value)"
                        />
                    </mat-form-field>
                    <button
                        responsive
                        class="explore-search-button"
                        mat-flat-button
                        color="primary"
                        [disabled]="loading || !searchFormControl.value"
                        (click)="search(searchFormControl.value)"
                    >
                        <div [class.explore-loading]="loading">
                            <mat-spinner *ngIf="loading" [diameter]="18" [style.marginRight.px]="16"></mat-spinner>
                            Search
                        </div>
                    </button>
                </div>

                <div class="mat-headline" [style.marginTop.px]="72" [style.marginBottom.px]="8">Getting Started?</div>
                <div class="mat-subheading-2">
                    Below are some sample accounts and transactions to help you get familiar with how things work around
                    here.
                </div>
                <div [style.marginTop.px]="32">
                    <div class="mat-subheading-1" [style.marginBottom.px]="16">Sample Addresses</div>
                    <div>
                        <button
                            mat-stroked-button
                            color="primary"
                            *ngFor="let addr of sampleAddresses"
                            [style.marginRight.px]="32"
                            [style.marginBottom.px]="16"
                            (click)="search(addr)"
                        >
                            {{ formatShortedAddress(addr) }}
                        </button>
                    </div>
                </div>

                <div [style.marginTop.px]="48">
                    <div class="mat-subheading-1" [style.marginBottom.px]="16">Sample Transactions</div>
                    <div>
                        <button
                            mat-stroked-button
                            color="primary"
                            *ngFor="let tx of sampleTransactions"
                            [style.marginRight.px]="32"
                            [style.marginBottom.px]="16"
                            (click)="search(tx)"
                        >
                            {{ formatShortenedTx(tx) }}
                        </button>
                    </div>
                </div>
            </mat-card>

            <app-account
                *ngIf="showAccount"
                [accountOverview]="accountOverview"
                [loading]="loading"
                [error]="error"
                [address]="searchedValue"
                [monkeySvg]="monkeySvg"
            >
            </app-account>

            <app-hash
                *ngIf="showBlock"
                [loading]="loading"
                [error]="error"
                [block]="blockResponse"
                [hash]="searchedValue"
            >
            </app-hash>
        </div>
    </div>
</div>
