.app-page-root.home-root {
    $pageMaxWidthLg: 1200px;
    $pageMaxWidthMd: 800px;
    $pageMaxWidthSm: 400px;

    padding: 0;

    .home-body {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;

        &.sm {
            background: url('~assets/creeper-bg.svg');
            background-size: unset !important;
            &.dark {
                background: url('~assets/creeper-bg-dark.svg');
            }
        }

        .home-header-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 16px;
            &.sm {
                width: 100%;
            }
        }

        .home-summary-cards-container {
            width: 100%;
            max-width: $pageMaxWidthLg;
        }
        &.md {
            .home-summary-cards-container {
                max-width: $pageMaxWidthMd;
            }
        }
        &.sm {
            .home-summary-cards-container,
            .home-header-content {
                max-width: $pageMaxWidthSm;
            }
        }
    }

    .home-header-container {
        height: 50vh;
        min-height: 500px;
        width: 100%;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url('~assets/creeper-bg.svg');
        &.dark {
            background: url('~assets/creeper-bg-dark.svg');
        }
        &.sm {
            background: unset;
            min-height: unset;
            height: 400px;
        }
    }

    .home-summary-cards-container {
        margin-top: -96px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        padding: 0 16px;
        &.sm mat-card {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
            margin: 0.5rem 0 0.5rem 0;
        }
        mat-card {
            width: 360px;
            min-height: 148px;
            padding: 0;
            display: flex;
            margin: 16px;
        }
        .icon-container {
            min-width: 72px;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 1rem;
            .mat-icon {
                $size: 2.5rem;
                font-size: $size;
                height: $size;
                width: $size;
            }
        }
        .text-container {
            padding: 1.5rem 16px 1.5rem 16px;
            width: 100%;
            .title {
                display: inline-block;
                text-decoration: underline;
                font-size: 1.125rem;
                margin-bottom: 0.5rem;
            }
            .desc {
                line-height: 1.375rem;
                &.timestats div div {
                    span {
                        display: block;
                    }
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }

    $inputHeight: 3.875rem;
    .sm .app-search-bar-input {
        min-width: unset;
        width: 100%;
    }
    .app-search-bar-input {
        font-size: 1rem;
        width: 450px;
        box-sizing: border-box;
        height: $inputHeight;
        border-radius: 4px;
        padding: 0 16px;
        border-width: 2px !important;
    }

    .home-search-hint {
        margin-top: 4px;
        font-size: 14px;
        padding-left: 32px;
        width: 100%;
        transition: all 300ms;
        text-align: left;
        overflow: hidden;
        display: flex;
        align-items: center;
        mat-icon {
            $size: 16px;
            font-size: $size;
            height: $size;
            width: $size;
            margin-right: 8px;
        }
    }

    .home-search-bar {
        display: flex;
        justify-content: center;
        width: 100%;
        &.sm {
            flex-direction: column;
            max-width: unset;
            box-sizing: border-box;
        }
        .home-search-button {
            height: $inputHeight;
            border-radius: 8px;
            margin-left: 16px;
            width: 120px;
            letter-spacing: 1px;
            &.sm {
                height: 2.75rem;
                margin-left: 0px;
                margin-top: 1rem;
                width: 100%;
            }
        }
    }

    .home-footer {
        margin-top: 16px;
        width: 100%;
        padding: 2px 0;
        display: flex;
        justify-content: center;
        margin-bottom: 16px;
    }
}
