.app-page-root.home-root {
    padding: 0;

    .home-body {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    .app-search-bar-input  {
        font-size: 1rem;
        max-width: 400px;
        min-width: 300px;
        width: 100%;
        box-sizing: border-box;
        height: 52px;
        border-radius: 4px;
        padding: 0 16px;
    }

    .home-search-bar {
        display: flex;
        width: 100%;
        max-width: 500px;
        margin-top: 32px;
        &.sm {
            flex-direction: column;
            max-width: 300px;
        }
        .home-search-button {
            width: 120px;
            &.sm {
                margin-top: 8px;
                height: 52px;
                width: 100%;
            }
        }
    }
}
