<ng-template #titleContent>
    <div responsive>
        <div class="app-page-title">
            <ng-container *ngIf="!isLoading">Vanity MonKeys</ng-container>
            <ng-container *ngIf="isLoading">Loading</ng-container>
        </div>
        <div class="app-page-subtitle">A showcase of accounts with custom vanity MonKeys.</div>
    </div>
</ng-template>

<ng-template #bodyContent>
    <div style="display: flex; justify-content: center; flex-wrap: wrap">
        <mat-card
            *ngFor="let address of vanityAddresses"
            [style.maxWidth.px]="vp.sm ? 300 : 350"
            [style.margin.px]="vp.sm ? 8 : 16"
        >
            <ng-container *ngIf="aliasService.has(address)">
                <div mat-card-title (click)="search(address)" class="link">{{ aliasService.get(address) }}</div>
                <div mat-card-subtitle (click)="search(address)" style="word-wrap: break-word" class="link">
                    {{ address }}
                </div>
            </ng-container>
            <ng-container *ngIf="!aliasService.has(address)">
                <div mat-card-title (click)="search(address)" style="word-wrap: break-word" class="link">
                    {{ address }}
                </div>
            </ng-container>
            <div *ngIf="monkeyCache.getMonkey(address)" [innerHTML]="monkeyCache.getMonkey(address) | safe"></div>
        </mat-card>
    </div>
</ng-template>

<div class="vanity-root app-page-root" responsive>
    <div class="app-page-content" style="max-width: 1250px">
        <app-error *ngIf="hasError"></app-error>
        <ng-container *ngIf="!hasError">
            <ng-template [ngTemplateOutlet]="titleContent"></ng-template>
            <ng-template *ngIf="!isLoading" [ngTemplateOutlet]="bodyContent"></ng-template>
        </ng-container>
    </div>
</div>

<!--
<app-wave [darkThemeWaveNumber]="20"></app-wave>
-->
