<ng-template #titleContent>
    <div responsive>
        <div class="app-page-title" style="display: flex; align-items: center">
            <div>Vanity MonKeys</div>
            <app-load-spinner *ngIf="isLoading"></app-load-spinner>
        </div>
        <div class="app-page-subtitle">A showcase of accounts with custom vanity MonKeys.</div>
    </div>
</ng-template>

<ng-template #bodyContent>
    <div style="display: flex; justify-content: center; flex-wrap: wrap">
        <mat-card
            class="divider-border alias-card"
            *ngFor="let address of vanityAddresses"
            [style.maxWidth.px]="vp.sm ? 300 : 350"
            [style.margin.px]="vp.sm ? 8 : 16"
        >
            <ng-container *ngIf="aliasService.getAlias(address) as alias">
                <div mat-card-title class="link" [routerLink]="'/' + navItems.account.route + '/' + address">
                    {{ alias }}
                </div>
                <div
                    mat-card-subtitle
                    style="word-wrap: break-word"
                    class="link mono"
                    [routerLink]="'/' + navItems.account.route + '/' + address"
                >
                    {{ address }}
                </div>
            </ng-container>
            <ng-container *ngIf="!aliasService.getAlias(address)">
                <div
                    mat-card-title
                    [routerLink]="'/' + navItems.account.route + '/' + address"
                    style="word-wrap: break-word"
                    class="link"
                >
                    {{ address }}
                </div>
            </ng-container>
            <img [src]="apiService.createMonKeyUrl(address)" loading="lazy" />
        </mat-card>
    </div>
</ng-template>

<div class="vanity-root app-page-root" responsive>
    <div class="app-page-content" style="max-width: 1250px">
        <app-error *ngIf="hasError"></app-error>
        <ng-container *ngIf="!hasError">
            <ng-template [ngTemplateOutlet]="titleContent"></ng-template>
            <div *ngIf="!isLoading" class="animation-body">
                <ng-template [ngTemplateOutlet]="bodyContent"></ng-template>
            </div>
        </ng-container>
    </div>
</div>
