.bookmarks-data-cell {
    display: flex;
    align-items: center;
    .bookmarks-data {
        word-break: break-all;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    ::ng-deep .mat-form-field-wrapper {
        padding-bottom: 0 !important;
    }
}
