:host {
    display: flex;
    flex: 1;
}

.bookmarks-title {
    display: flex;
    width: 100%;
    margin-bottom: 8px;
}

.bookmarks-subtitle {
    display: flex;
    width: 100%;
    margin-bottom: 48px;
    text-align: left;
}

.bookmarks-root {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    // TODO: move these paddings to a global style, shared
    padding: 64px 64px 64px 64px;
    &.md {
        padding: 48px 48px 48px 48px;
    }
    &.sm {
        padding: 48px 20px 48px 20px;
    }
}

.bookmarks-body {
    width: 100%;
    max-width: 1200px;
}

.bookmarks-data-cell {
    display: flex;
    align-items: center;
    .bookmarks-data {
        word-break: break-all;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    ::ng-deep .mat-form-field-wrapper {
        padding-bottom: 0 !important;
    }
}
