.app-search-bar-input {
    border-radius: 4px;
}

.alias-search-menu {
    min-width: 0 !important;
    min-height: 0 !important;
    max-width: unset !important;
    max-height: 322px !important;
    button {
        width: 300px !important;
    }
}

.red {
    //  background-color: red!important;;
}
