.tab-transaction-list.sm {
    .mat-list-item-content {
        padding-left: 18px !important;
        padding-right: 18px !important;
    }

    .blui-info-list-item .mat-list-item {
        padding-top: 16px;
        padding-bottom: 16px;

        .blui-info-list-item-icon-wrapper {
            display: none;

        }

        .timestamps {
            font-size: 0.875rem;

            > span {
                margin-left: 0;
                margin-bottom: -4px;
            }
        }
        .right-content {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
        .small-monkey {
            height: 64px;
            width: 64px;
            margin-bottom: -4px;
        }
    }
}

.tab-transaction-list.md {
    .blui-info-list-item .mat-list-item {
        .timestamps {
            flex-direction: column;
            text-align: right;
        }
    }
}

.tab-transaction-list {
    padding-top: 0px;
    .blui-info-list-item {
        .tag-row {
            display: flex;
            align-items: center;
        }
        .address {
            word-break: break-all;
        }
        .address,
        .hash {
            font-weight: 400;
        }
        .height {
            font-size: 12px;
            background-color: unset;
            font-weight: 600;
            margin-right: 8px;
        }
    }
    .blui-info-list-item .blui-info-list-item-subtitle-wrapper {
        font-size: 0.75rem;
    }
    .blui-info-list-item-icon-wrapper > * {
        height: 6rem !important;
        width: 6rem !important;
        font-size: 6rem !important;
    }
    .blui-info-list-item-icon-wrapper {
        max-width: unset !important;
        width: unset !important;
        min-width: unset !important;
    }

    .to-from {
        font-weight: 200;
    }
    .amount {
        margin-left: 8px;
        font-size: 1rem;
        font-weight: 600;
    }
    .timestamps {
        display: flex;
        > span {
            margin-left: 16px;
        }
    }

    .blui-info-list-item-partial-divider {
        left: calc(6rem + 32px) !important;
        width: calc(100% - calc(6rem + 32px)) !important;
    }
}
