.tab-transaction-list.sm {
    .mat-list-item-content {
        padding-left: 18px !important;
        padding-right: 18px !important;
    }

    .blui-info-list-item .mat-list-item {
        padding-top: 20px;
        padding-bottom: 20px;

        .blui-info-list-item-icon-wrapper {
            display: none;
        }

        .timestamps {
            font-size: 0.875rem;

            > span {
                margin-left: 0;
                margin-bottom: -4px;
            }
        }
        .address-row {
            margin: 12px 0;
            .address {
                //    max-width: 32ch!important;
                display: block;
                //   font-size: 0.875rem !important;
            }
        }
        .right-content {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-left: 0px;
        }
        .small-monkey {
            height: 64px;
            width: 64px;
            margin-bottom: -4px;
        }
    }
}

.tab-transaction-list {
    padding-top: 0px;

    .blui-info-list-item {
        .mat-list-item {
            padding-top: 4px;
            padding-bottom: 4px;
        }
        .tag-row {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
        .address-row {
            box-sizing: border-box;
            max-width: 32ch;
            max-width: 295px;
            margin-top: 8px;
        }
        .address {
            line-height: 18px;
            font-size: 15px;
        }
        .address * {
            word-break: break-all;
            font-weight: 400;
        }
        .right-content {
            margin-left: 24px;
        }
    }

    .blui-list-item-tag-content {
        min-width: 52px;
        text-align: center;
    }

    .blui-info-list-item .blui-info-list-item-subtitle-wrapper {
        font-size: 0.75rem;
    }

    .blui-info-list-item-icon-wrapper > * {
        height: 6rem !important;
        width: 6rem !important;
        font-size: 6rem !important;
    }

    .blui-info-list-item-icon-wrapper {
        max-width: unset !important;
        width: unset !important;
        min-width: unset !important;
    }

    .block-info,
    .timestamps {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        text-align: right;
    }

    .meta-icon {
        font-size: 14px;
        height: 14px;
        width: 14px;
        min-width: 14px;
        line-height: 14px;
        box-sizing: border-box;
    }
    .amount {
        font-size: 1rem;
        font-weight: 600;
        margin-right: 12px;
        margin-left: 12px;
    }
}
