.tab-transaction-list.sm {
    .mat-list-item-content {
        padding-left: 18px !important;
        padding-right: 18px !important;
    }

    .blui-info-list-item .mat-list-item {
        padding-top: 16px;
        padding-bottom: 16px;

        .blui-info-list-item-icon-wrapper {
            display: none;
        }

        .timestamps {
            font-size: 0.875rem;

            > span {
                margin-left: 0;
                margin-bottom: -4px;
            }
        }
        .right-content {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-left: 0px;
        }
        .small-monkey {
            height: 64px;
            width: 64px;
            margin-bottom: -4px;
        }
    }
}

$mono: monospace;

.tab-transaction-list:not(.sm) {
    .tag-row,
    .hash-row {
        margin-bottom: 1px;
    }
}

.blui-info-list-item-icon-wrapper {
    order: 3 !important;
}

.tab-transaction-list {
    padding-top: 0px;

    .blui-info-list-item {
        .tag-row {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
        .address-row {
            max-width: 32ch;
            margin: 8px 0;
        }
        .address {
            font-family: monospace;
            word-break: break-all;
        }
        .address,
        .hash-row {
            font-weight: 400;
        }
        .hash-row {
            display: inline-flex;
            font-family: $mono;
        }
        .height {
            font-size: 12px;
            background-color: unset;
            font-weight: 600;
            margin-right: 8px;
        }
        .right-content {
            margin-left: 24px;
        }
    }
    .blui-list-item-tag-content {
        text-align: center;
    }
    .blui-info-list-item .blui-info-list-item-subtitle-wrapper {
        font-size: 0.75rem;
    }
    .blui-info-list-item-icon-wrapper > * {
        height: 6rem !important;
        width: 6rem !important;
        font-size: 6rem !important;
    }
    .blui-info-list-item-icon-wrapper {
        max-width: unset !important;
        width: unset !important;
        min-width: unset !important;
    }

    .block-info,
    .timestamps {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        text-align: right;
    }

    .meta-icon {
        font-size: 14px;
        height: 14px;
        width: 14px;
        line-height: 14px;
    }
    .amount {
        font-size: 1rem;
        font-weight: 600;
        margin-right: 12px;
        margin-left: 12px;
    }
}
