.node-monitor-content {
    .mat-list-base .mat-list-item.pxb-info-list-item-content.pxb-info-list-item-wrap .mat-list-item-content,
    .pxb-info-list-item-content.pxb-info-list-item-wrap .mat-list-item-content {
        min-height: 4.5rem !important;
    }
    .pxb-info-list-item-content .pxb-info-list-item-title-wrapper {
        font-weight: 600 !important;
    }
    mat-card {
        padding-bottom: 0;
        padding-top: 0;
        margin-bottom: 16px;
    }
}

.node-monitor-content.sm {
    mat-card {
        box-shadow: none !important;
        margin-left: -16px;
        margin-right: -16px;
        border: none !important;
        .mat-list-item-content {
            padding-left: 0px !important;
        }
        .node-monitor-section-title {
            padding-left: 4px !important;
        }
    }
}

.node-monitor-section-title {
    padding-left: 16px;
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    font-weight: 600;
}
