:host {
    display: flex;
    flex: 1;
}

.monitor-section {
    margin: 24px 0;
    word-break: break-word;
    div {
        display: flex;
        flex-direction: column;
        justify-content: left;
        flex-wrap: wrap;
    }
    .app-section-subtitle {
        margin-bottom: 0px;
    }
}
