.navigation-app-header-container,
.navigation-drawer-header-content {
    height: 128px;
    &.sm {
        height: 64px;
    }
}

.navigation-app-header-container {
    position: relative;
}

.navigation-spyglass {
    width: 180px;
    position: absolute;
    bottom: -26px;
}

::ng-deep {
    .pxb-drawer-header-content {
        height: unset !important;
    }

    .pxb-drawer-header {
        background-color: unset !important;
    }
}

.navigation-app-header-container {
    position: sticky;
    position: -webkit-sticky;
    background-size: contain;
    display: flex;
    align-items: center;
    padding: 0 24px;
    top: 0;
    z-index: 2;
    .navigation-toolbar-title {
        font-size: 24px;
    }
}

.navigation-drawer-content {
    display: flex;
    flex-direction: column;
}