.navigation-drawer-header-content {
    height: 128px !important;
    width: 100%;
    justify-content: center;
    display: flex;
}

.navigation-spyglass {
    width: 180px;
    position: absolute;
    bottom: -26px;
}

::ng-deep .blui-drawer .blui-drawer-header-content {
    height: unset !important;
}
::ng-deep .blui-drawer-header {
    background-color: unset !important;
}

.navigation-app-bar {
    display: flex;
    justify-content: center;
    padding: 0 24px;
    top: 0;
    z-index: 200;
    &.sm {
        padding: 0 8px;
    }
    .navigation-toolbar-title {
        font-weight: 400;
        cursor: pointer;
        font-family: pirateFont, 'Open Sans', 'Arial';
        font-size: 36px;
        &.sm {
            font-family: 'Open Sans';
            font-size: 20px;
        }
    }
}


.navigation-drawer-content {
    &.home {
        height: calc(100vh - 64px);
        overflow: hidden;
    }
    &.home.sm {
        height: calc(100vh - 56px);
    }
}

.navigation-app-bar-container {
    overflow-x: hidden;
    z-index: 300;
}

.navigation-search-bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    transition: width 250ms ease-in-out;
    overflow: hidden;
    z-index: 300;
    &.active {
        width: 100%;
    }

    .search-control {
        flex: 1;
        font-size: 1rem;
        border: 0;
        outline: none;
        padding-left: 10px;

        &::-ms-clear {
            height: 0;
            width: 0;
        }
    }
}
