<pxb-drawer-layout [variant]="getVariant()" (backdropClick)="closeDrawer()">
    <pxb-drawer pxb-drawer [open]="isOpen()" [sideBorder]="true">
        <pxb-drawer-header title="Yellow Spyglass" subtitle="Banano Network Explorer">
            <button mat-icon-button pxb-icon (click)="toggleDrawerOpen()">
                <mat-icon>menu</mat-icon>
            </button>
        </pxb-drawer-header>
        <pxb-drawer-body>
            <pxb-drawer-nav-group title="Explorer" [divider]="true">
                <pxb-drawer-nav-item
                    *ngFor="let navItem of explorerNavGroup"
                    [divider]="true"
                    [title]="navItem.title"
                    [subtitle]="navItem.subtitle"
                    [selected]="navItem.title === getSelectedItem()"
                    (select)="selectItem(navItem)"
                >
                    <mat-icon pxb-icon>{{ navItem.icon }}</mat-icon>
                </pxb-drawer-nav-item>
            </pxb-drawer-nav-group>

            <pxb-drawer-nav-group title="Network Health" [divider]="true">
                <pxb-drawer-nav-item
                    *ngFor="let navItem of networkNavGroup"
                    [divider]="true"
                    [title]="navItem.title"
                    [subtitle]="navItem.subtitle"
                    [selected]="navItem.title === getSelectedItem()"
                    (select)="selectItem(navItem)"
                >
                    <mat-icon pxb-icon>{{ navItem.icon }}</mat-icon>
                </pxb-drawer-nav-item>
            </pxb-drawer-nav-group>

            <pxb-spacer></pxb-spacer>
        </pxb-drawer-body>
    </pxb-drawer>
    <div pxb-content class="drawer-content">
        <mat-toolbar class="toolbar" color="primary">
            <button
                mat-icon-button
                *ngIf="variant === 'temporary'"
                (click)="openDrawer()"
                style="margin-right: 16px; margin-left: -16px"
            >
                <mat-icon>menu</mat-icon>
            </button>
            <h2>{{ toolbarTitle }}</h2>
            <pxb-spacer></pxb-spacer>
            <app-user-menu></app-user-menu>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </div>
</pxb-drawer-layout>
