.navigation-drawer-header-content.sm {
    height: 128px;
}

.navigation-app-header-container {
    position: relative;
}

.navigation-spyglass {
    width: 180px;
    position: absolute;
    bottom: -26px;
}

::ng-deep .sm .pxb-drawer-header-content {
    height: unset !important;
}
::ng-deep .pxb-drawer-header {
    background-color: unset !important;
}

.navigation-app-header-container {
    position: sticky;
    position: -webkit-sticky;
    background-size: contain;
    display: flex;
    align-items: center;
    padding: 0 24px;
    top: 0;
    z-index: 2;
    .navigation-toolbar-title {
        font-size: 24px;
    }
}

.navigation-drawer-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
