<pxb-drawer-layout
    [variant]="getVariant()"
    (backdropClick)="closeDrawer()"
    width="295"
    responsive
    [class.open]="isOpen()"
>
    <pxb-drawer pxb-drawer [open]="isOpen()" [sideBorder]="true">
        <pxb-drawer-header>
            <button pxb-icon mat-icon-button (click)="toggleDrawerOpen()">
                <mat-icon>menu</mat-icon>
            </button>
            <div pxb-title-content class="navigation-drawer-header-content">
                <div class="mat-overline" [style.marginTop.px]="8">Yellow Spyglass</div>
                <img class="navigation-spyglass" responsive src="assets/spyglass.svg" />
                <div class="mat-overline" [style.marginTop.px]="48">BANANO Explorer</div>
            </div>
        </pxb-drawer-header>
        <pxb-drawer-body>
            <pxb-drawer-nav-group title="Accounts" [divider]="true">
                <pxb-drawer-nav-item
                    *ngFor="let navItem of explorerNavGroup"
                    [divider]="true"
                    [title]="navItem.title"
                    [subtitle]="navItem.subtitle"
                    [selected]="navItem.title === getSelectedItem()"
                    (select)="selectItem(navItem)"
                >
                    <mat-icon pxb-icon>{{ navItem.icon }}</mat-icon>
                </pxb-drawer-nav-item>
            </pxb-drawer-nav-group>

            <pxb-drawer-nav-group title="Network Health" [divider]="true">
                <pxb-drawer-nav-item
                    *ngFor="let navItem of networkNavGroup"
                    [divider]="true"
                    [title]="navItem.title"
                    [subtitle]="navItem.subtitle"
                    [selected]="navItem.title === getSelectedItem()"
                    (select)="selectItem(navItem)"
                >
                    <mat-icon pxb-icon>{{ navItem.icon }}</mat-icon>
                </pxb-drawer-nav-item>
            </pxb-drawer-nav-group>
        </pxb-drawer-body>
    </pxb-drawer>
    <div pxb-content class="navigation-drawer-content">
        <mat-toolbar class="navigation-app-header-container mat-elevation-z2" color="primary" responsive>
            <button
                mat-icon-button
                *ngIf="variant === 'temporary'"
                (click)="openDrawer()"
                style="margin-right: 16px; margin-left: -16px;"
            >
                <mat-icon>menu</mat-icon>
            </button>
            <div responsive class="navigation-toolbar-title">{{ toolbarTitle }}</div>
            <pxb-spacer></pxb-spacer>
            <button
                mat-icon-button
                [style.marginRight.px]="12"
                (click)="navigate(navItems.bookmarks.route)"
            >
                <mat-icon>bookmarks</mat-icon>
            </button>
            <button mat-icon-button (click)="toggleTheme()">
                <mat-icon *ngIf="themeService.isLightMode()">dark_mode</mat-icon>
                <mat-icon *ngIf="!themeService.isLightMode()">light_mode</mat-icon>
            </button>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </div>
</pxb-drawer-layout>
