@import '~@angular/material/_theming.scss';
@import '~@pxblue/colors-branding/palette.scss';
@import '~@pxblue/angular-themes/pxb-component-theme';
@import '~@pxblue/angular-themes/margins';
@import '~@pxblue/angular-themes/fonts';
@import '~@pxblue/angular-themes/common';
@import './assets/theme/typography';
@import './assets/theme/common';

@include reasonable-margins();
@include mat-core($custom-typography);

.light {
    @import './assets/theme/light-theme';
    @include common($light-theme);
    @include angular-material-theme($light-theme);
    @include pxb-components-theme($light-theme);
    @include bodyfont();
    @import './assets/theme/typography';
}

.dark {
    @import './assets/theme/dark-theme';
    @include common($dark-theme);
    @include angular-material-theme($dark-theme);
    @include pxb-components-theme($dark-theme);
    @include bodyfont();
    @import './assets/theme/typography';
}

.mat-tab-label-active {
    opacity: 1 !important;
}
.mat-list-base .mat-list-item.pxb-info-list-item-content.pxb-info-list-item-wrap .mat-list-item-content,
.pxb-info-list-item-content.pxb-info-list-item-wrap .mat-list-item-content {
    min-height: 5.5rem !important;
}

.mat-subheading-2 {
    line-height: 1.25rem !important;
}

.link {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

// Why can't I use the branding color palettes for my theme?
// $material-theme-primary: mat-palette($brand-trophy);

// How can I avoid copy pasting all this nonsense just to change some theme colors?

// Mat Toolbar won't allow me to put background image in it?
