@use 'node_modules/@brightlayer-ui/colors/palette' as blui;
@use 'node_modules/@angular/material' as mat;
@use 'node_modules/@brightlayer-ui/angular-themes/blui-component-theme';
@use 'node_modules/@brightlayer-ui/angular-themes/darkTheme';
@use 'node_modules/@brightlayer-ui/angular-themes/margins';
@use 'node_modules/@brightlayer-ui/angular-themes/fonts';
@use 'node_modules/@brightlayer-ui/angular-themes/typography';
@use 'node_modules/@brightlayer-ui/angular-themes/common';
@use './theme/typography' as ysg-typography;

@include margins.reasonable-margins();
@include mat.core(ysg-typography.$custom-typography);

@font-face {
    font-family: pirateFont;
    src: url('~assets/font/Freebooter-6yn1.ttf');
}

.light {
    @import './theme/light-theme';
    @include common.common();
    @include mat.all-component-themes($light-theme);
    @include blui-component-theme.blui-components-theme($light-theme);
    @include fonts.bodyfont();
    @import './theme/typography';
}

.dark {
    @import './theme/dark-theme';
    @include common.common();
    @include mat.all-component-themes($dark-theme);
    @include blui-component-theme.blui-components-theme($dark-theme);
    @include fonts.bodyfont();
    @import './theme/typography';
}

.mat-tab-label-active {
    opacity: 1 !important;
}
.mat-button-focus-overlay {
    background-color: transparent !important;
}

.mat-list-base .mat-list-item.pxb-info-list-item-content.pxb-info-list-item-wrap .mat-list-item-content,
.pxb-info-list-item-content.pxb-info-list-item-wrap .mat-list-item-content {
    min-height: 5.5rem !important;
}

.mat-subheading-2 {
    line-height: 1.25rem !important;
}

.link {
    cursor: pointer;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
.sm .link:hover {
    text-decoration: none !important;
}

.mat-simple-snackbar {
    justify-content: center !important;
}
.mat-snack-bar-handset {
    justify-content: center;
    .mat-snack-bar-container {
        //  width: unset!important;
    }
}

// Why can't I use the branding color palettes for my theme?
// $material-theme-primary: mat-palette($brand-trophy);

// How can I avoid copy pasting all this nonsense just to change some theme colors?

// Mat Toolbar won't allow me to put background image in it?

// Fix Safari scroll issue
.pxb-drawer-layout {
    height: 100% !important;
    .mat-drawer-backdrop {
        z-index: 400;
    }
    .mat-drawer {
        z-index: 400;
        position: fixed;
        top: 0;
    }
    .mat-drawer-content {
        /* MAGIC HAPPENS HERE */
        transform: translate3d(0px, 0px, 0px);
        display: contents;
    }
    .navigation-app-bar-container {
        position: fixed;
        width: 100vw;
        box-sizing: border-box;
    }
}

.mat-table {
    border-radius: 4px;
    overflow: hidden !important;
}

.app-page-root,
.explore-body {
    min-height: 100vh;
}

.mat-form-field {
    line-height: 1.5 !important;
}

// TODO: Fix this.
.pxb-list-item-tag-content .pxb-list-item-tag-label {
    margin-right: 0 !important;
}
// TODO: move this to the explorer pages only
.pxb-info-list-item-content .pxb-info-list-item-title-wrapper {
    font-weight: 400 !important;
}

// Disable mat tab list pagination.
.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: none !important;
}

/* Common styles for padding, font-sizes, etc. */
.app-page-root {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    min-height: calc(100vh - 64px);
    // TODO: move these paddings to a global style, shared
    padding: 64px 64px 64px 64px;
    &.md {
        padding: 64px 32px 48px 32px;
    }
    &.sm {
        padding: 32px 16px 48px 16px;
        min-height: calc(100vh - 56px);
    }
}

.rep-mobile-list-container {
    padding: 0 16px !important;
    border-radius: 0 !important;
    margin-left: -16px;
    margin-right: -16px;
    border-left: unset !important;
    border-right: unset !important;
}
