@import '~@angular/material/_theming.scss';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; // Tooltip needs this theme to work?
@import '~@pxblue/colors-branding/palette.scss';
@import '~@pxblue/angular-themes/pxb-component-theme';
@import '~@pxblue/angular-themes/margins';
@import '~@pxblue/angular-themes/fonts';
@import '~@pxblue/angular-themes/common';
@import './assets/theme/typography';
@import './assets/theme/common';

@include reasonable-margins();
@include mat-core($custom-typography);

@font-face {
    font-family: pirateFont;
    src: url('~assets/font/Freebooter-6yn1.ttf');
}

.light {
    @import './assets/theme/light-theme';
    @include common($light-theme);
    @include angular-material-theme($light-theme);
    @include pxb-components-theme($light-theme);
    @include bodyfont();
    @import './assets/theme/typography';
}

.dark {
    @import './assets/theme/dark-theme';
    @include common($dark-theme);
    @include angular-material-theme($dark-theme);
    @include pxb-components-theme($dark-theme);
    @include bodyfont();
    @import './assets/theme/typography';
}

.mat-tab-label-active {
    opacity: 1 !important;
}
.mat-list-base .mat-list-item.pxb-info-list-item-content.pxb-info-list-item-wrap .mat-list-item-content,
.pxb-info-list-item-content.pxb-info-list-item-wrap .mat-list-item-content {
    min-height: 5.5rem !important;
}

.mat-subheading-2 {
    line-height: 1.25rem !important;
}

.link {
    cursor: pointer;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
.sm .link:hover {
    text-decoration: none !important;
}

.mat-simple-snackbar {
    justify-content: center !important;
}
.mat-snack-bar-handset {
    justify-content: center;
    .mat-snack-bar-container {
        //  width: unset!important;
    }
}

// Why can't I use the branding color palettes for my theme?
// $material-theme-primary: mat-palette($brand-trophy);

// How can I avoid copy pasting all this nonsense just to change some theme colors?

// Mat Toolbar won't allow me to put background image in it?

// Fix Safari scroll issue
.pxb-drawer-layout {
    height: 100% !important;
    &.open {
        .mat-drawer {
            position: fixed;
        }
    }
    .mat-drawer-content {
        /* MAGIC HAPPENS HERE */
        transform: translate3d(0px, 0px, 0px);
        display: contents;
    }
    .navigation-app-bar-container {
        position: fixed;
        width: 100vw;
        box-sizing: border-box;
    }
}

.mat-table {
    border-radius: 4px;
    overflow: hidden !important;
}

.app-page-root,
.explore-body {
    min-height: 100vh;
}

.mat-form-field {
    line-height: 1.5 !important;
}

// TODO: Fix this.
.pxb-list-item-tag-content .pxb-list-item-tag-label {
    margin-right: 0 !important;
}
// TODO: move this to the explorer pages only
.pxb-info-list-item-content .pxb-info-list-item-title-wrapper {
    font-weight: 400 !important;
}

// Disable mat tab list pagination.
.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: none !important;
}

/* Common styles for padding, font-sizes, etc. */
.app-page-root {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    min-height: 100vh;
    // TODO: move these paddings to a global style, shared
    padding: 128px 64px 64px 64px;
    &.md {
        padding: 114px 48px 48px 48px;
    }
    &.sm {
        padding: 84px 16px 48px 16px;
    }
}
