.representatives-chart-container.mat-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 72px;
    &.md {
        justify-content: center;
        flex-direction: column;
    }
}

.representatives-chart {
    margin: 0;
    margin-top: 24px;
    display: flex;
    justify-content: left;
    margin-right: -24px;
    &.md,
    &.sm {
        margin-right: 0px;
        margin-top: 0;
        justify-content: center;
    }
}

.representatives-legend {
    display: flex;
    .representatives-legend-entry {
        padding: 8px 8px;
        display: flex;
        align-items: center;
    }
    .representatives-legend-color {
        width: 12px;
        height: 12px;
        border-radius: 100%;
        margin-right: 16px;
    }
    .representatives-legend-others {
        pointer-events: none;
    }
    &.md {
        margin-top: 24px;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        div {
            display: flex;
            flex-wrap: wrap;
        }
    }
}
