:host {
    display: flex;
    flex: 1;
}

.all-reps-table-alias-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    .invisible-full-address {
        position: absolute;
        color: transparent;
        z-index: 0;
        left: -100px;
        font-size: 1px !important;
        letter-spacing: 100vw;
        top: 34px;
    }
    .invisible-full-address {
    }
}

.all-reps-table {
    width: 100%;
    .blui-list-item-tag-label {
        font-size: 0.625rem !important;
    }
    * {
        font-size: 14px;
    }
    .link {
        font-size: 14px !important;
    }
    th.mat-header-cell:last-of-type,
    td.mat-cell:last-of-type,
    td.mat-footer-cell:last-of-type {
        padding-right: 0 !important;
    }
}

th.mat-sort-header-sorted {
    color: black;
}
